.str {
	color: rgb(0, 136, 0);
}
.kwd {
	color: rgb(0, 0, 136);
}
.com {
	color: rgb(136, 0, 0);
}
.typ {
	color: rgb(102, 0, 102);
}
.lit {
	color: rgb(0, 102, 102);
}
.pun {
	color: rgb(102, 102, 0);
}
.pln {
	color: rgb(0, 0, 0);
}
.tag {
	color: rgb(0, 0, 136);
}
.atn {
	color: rgb(102, 0, 102);
}
.atv {
	color: rgb(0, 136, 0);
}
.dec {
	color: rgb(102, 0, 102);
}
pre.prettyprint {
	border: 1px solid rgb(136, 136, 136); width: 560px; height: auto; clear: both; -ms-overflow-x: scroll;
}
@media print
{
.str {
	color: rgb(0, 102, 0);
}
.kwd {
	color: rgb(0, 0, 102); font-weight: bold;
}
.com {
	color: rgb(102, 0, 0); font-style: italic;
}
.typ {
	color: rgb(68, 0, 68); font-weight: bold;
}
.lit {
	color: rgb(0, 68, 68);
}
.pun {
	color: rgb(68, 68, 0);
}
.pln {
	color: rgb(0, 0, 0);
}
.tag {
	color: rgb(0, 0, 102); font-weight: bold;
}
.atn {
	color: rgb(68, 0, 68);
}
.atv {
	color: rgb(0, 102, 0);
}
}
