.pln {
	color: rgb(0, 0, 0);
}
@media screen
{
.str {
	color: rgb(0, 136, 0);
}
.kwd {
	color: rgb(0, 0, 136);
}
.com {
	color: rgb(136, 0, 0);
}
.typ {
	color: rgb(127, 0, 85);
}
.lit {
	color: rgb(0, 102, 102);
}
.pun {
	color: rgb(102, 102, 0);
}
.opn {
	color: rgb(102, 102, 0);
}
.clo {
	color: rgb(102, 102, 0);
}
.tag {
	color: rgb(0, 0, 136);
}
.atn {
	color: rgb(127, 0, 85);
}
.atv {
	color: rgb(0, 136, 0);
}
.dec {
	color: rgb(127, 0, 85);
}
.var {
	color: rgb(127, 0, 85);
}
.fun {
	color: rgb(255, 0, 0);
}
}
@media print, projection
{
.str {
	color: rgb(0, 102, 0);
}
.kwd {
	color: rgb(0, 0, 102); font-weight: bold;
}
.com {
	color: rgb(102, 0, 0); font-style: italic;
}
.typ {
	color: rgb(68, 0, 68); font-weight: bold;
}
.lit {
	color: rgb(0, 68, 68);
}
.pun {
	color: rgb(68, 68, 0);
}
.opn {
	color: rgb(68, 68, 0);
}
.clo {
	color: rgb(68, 68, 0);
}
.tag {
	color: rgb(0, 0, 102); font-weight: bold;
}
.atn {
	color: rgb(68, 0, 68);
}
.atv {
	color: rgb(0, 102, 0);
}
}
pre.prettyprint {
	margin: 0px 0px 10px; padding: 5px; border-radius: 0px; border: 1px solid rgb(214, 214, 214); width: 98%; overflow: auto; font-size: 12px; background-color: rgb(238, 238, 238);
}
tr td pre.prettyprint {
	width: auto; white-space: pre-wrap;
}
pre.result {
	margin: 0px; padding: 5px; border: 1px solid rgb(214, 214, 214); width: 98%; overflow: auto; font-size: 12px; background-color: rgb(241, 241, 241);
}
pre.box {
	margin: 0px 0px 10px; padding: 5px; border: 1px solid rgb(214, 214, 214); width: 98%; overflow: auto; font-size: 12px; background-color: rgb(241, 241, 241);
}
ol.linenums {
	margin-top: 0px; margin-bottom: 0px;
}
li.L0 {
	list-style-type: none;
}
li.L1 {
	list-style-type: none;
}
li.L2 {
	list-style-type: none;
}
li.L3 {
	list-style-type: none;
}
li.L5 {
	list-style-type: none;
}
li.L6 {
	list-style-type: none;
}
li.L7 {
	list-style-type: none;
}
li.L8 {
	list-style-type: none;
}
li.L1 {
	background: rgb(238, 238, 238);
}
li.L3 {
	background: rgb(238, 238, 238);
}
li.L5 {
	background: rgb(238, 238, 238);
}
li.L7 {
	background: rgb(238, 238, 238);
}
li.L9 {
	background: rgb(238, 238, 238);
}
