.bottom_ad_slot {
	width: 320px; height: 50px;
}
@media all and (min-width:500px)
{
.bottom_ad_slot {
	width: 336px; height: 280px;
}
}
.top_ad_slot {
	width: 320px; height: 50px;
}
@media all and (min-width:500px)
{
.top_ad_slot {
	width: 468px; height: 60px;
}
}
#topmenu .wrapper #mobileleft {
	display: none;
}
#topmenu .wrapper #mobileright {
	display: none;
}
html {
	margin: 0px; padding: 0px;
}
body {
	margin: 0px; padding: 0px;
}
address {
	margin: 0px; padding: 0px;
}
blockquote {
	margin: 0px; padding: 0px;
}
div {
	margin: 0px; padding: 0px;
}
dl {
	margin: 0px; padding: 0px;
}
form {
	margin: 0px; padding: 0px;
}
h1 {
	margin: 0px; padding: 0px;
}
h2 {
	margin: 0px; padding: 0px;
}
h3 {
	margin: 0px; padding: 0px;
}
h4 {
	margin: 0px; padding: 0px;
}
h5 {
	margin: 0px; padding: 0px;
}
h6 {
	margin: 0px; padding: 0px;
}
ol {
	margin: 0px; padding: 0px;
}
p {
	margin: 0px; padding: 0px;
}
pre {
	margin: 0px; padding: 0px;
}
table {
	margin: 0px; padding: 0px;
}
ul {
	margin: 0px; padding: 0px;
}
dd {
	margin: 0px; padding: 0px;
}
dt {
	margin: 0px; padding: 0px;
}
li {
	margin: 0px; padding: 0px;
}
tbody {
	margin: 0px; padding: 0px;
}
td {
	margin: 0px; padding: 0px;
}
tfoot {
	margin: 0px; padding: 0px;
}
th {
	margin: 0px; padding: 0px;
}
thead {
	margin: 0px; padding: 0px;
}
tr {
	margin: 0px; padding: 0px;
}
button {
	margin: 0px; padding: 0px;
}
del {
	margin: 0px; padding: 0px;
}
ins {
	margin: 0px; padding: 0px;
}
map {
	margin: 0px; padding: 0px;
}
object {
	margin: 0px; padding: 0px;
}
a {
	margin: 0px; padding: 0px;
}
abbr {
	margin: 0px; padding: 0px;
}
acronym {
	margin: 0px; padding: 0px;
}
b {
	margin: 0px; padding: 0px;
}
bdo {
	margin: 0px; padding: 0px;
}
big {
	margin: 0px; padding: 0px;
}
br {
	margin: 0px; padding: 0px;
}
cite {
	margin: 0px; padding: 0px;
}
code {
	margin: 0px; padding: 0px;
}
dfn {
	margin: 0px; padding: 0px;
}
em {
	margin: 0px; padding: 0px;
}
i {
	margin: 0px; padding: 0px;
}
img {
	margin: 0px; padding: 0px;
}
kbd {
	margin: 0px; padding: 0px;
}
q {
	margin: 0px; padding: 0px;
}
samp {
	margin: 0px; padding: 0px;
}
small {
	margin: 0px; padding: 0px;
}
span {
	margin: 0px; padding: 0px;
}
strong {
	margin: 0px; padding: 0px;
}
sub {
	margin: 0px; padding: 0px;
}
sup {
	margin: 0px; padding: 0px;
}
tt {
	margin: 0px; padding: 0px;
}
var {
	margin: 0px; padding: 0px;
}
legend {
	margin: 0px; padding: 0px;
}
fieldset {
	margin: 0px; padding: 0px;
}
html {
	margin: 0px; padding: 0px;
}
body {
	margin: 0px; padding: 0px;
}
img {
	border: 0px currentColor;
}
fieldset {
	border: 0px currentColor;
}
img {
	height: auto; display: block; max-width: 560px;
}
.content img {
	margin: auto; padding-bottom: 10px;
}
.ie8 img {
	width: auto; height: auto;
}
article {
	display: block;
}
aside {
	display: block;
}
details {
	display: block;
}
figcaption {
	display: block;
}
figure {
	display: block;
}
footer {
	display: block;
}
header {
	display: block;
}
hgroup {
	display: block;
}
menu {
	display: block;
}
nav {
	display: block;
}
section {
	display: block;
}
body {
	background: rgb(238, 238, 238); width: 100%; font-family: Helvetica, Arial, Sans-Serif; font-size: 75%; margin-right: auto; margin-left: auto; -ms-overflow-x: hidden;
}
h1 {
	text-align: center; padding-bottom: 0.2em; font-weight: normal; margin-bottom: 1em; text-shadow: 2px 2px 3px #ccc;
}
h2 {
	padding: 0.5em 0px 0.1em; line-height: 1.5em; font-size: 1.6em; font-weight: normal; margin-bottom: 0.5em; text-shadow: 1px 1px 2px #ccc;
}
h3 {
	text-transform: uppercase; line-height: 1.5em; font-size: 1.2em; font-weight: bold; text-shadow: 1px 1px 2px #ccc;
}
pre + h3 {
	padding-top: 10px !important;
}
h3 + p {
	padding-top: 0px !important; margin-top: 0px !important;
}
h4 {
	font-size: 12px;
}
h5 {
	font-size: 15px;
}
h6 {
	font-size: 13px;
}
img {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
a {
	color: rgb(0, 0, 0); text-decoration: none;
}
a:link {
	color: rgb(144, 11, 9); background-color: transparent;
}
a:visited {
	color: rgb(144, 11, 9); background-color: transparent;
}
a:active {
	color: rgb(255, 0, 0); background-color: transparent;
}
a:hover {
	color: rgb(255, 0, 0); background-color: transparent;
}
a:hover {
	color: red; text-decoration: underline;
}
h1 {
	margin: 0.2em 0.2em 0.2em 0px; padding: 0px; font-weight: normal;
}
h2 {
	margin: 0.2em 0.2em 0.2em 0px; padding: 0px; font-weight: normal;
}
h3 {
	margin: 0.2em 0.2em 0.2em 0px; padding: 0px; font-weight: normal;
}
p {
	margin: 0.8em 0px 1em; padding: 0px; text-align: justify;
}
table.src {
	border: 1px solid rgb(214, 214, 214); width: 100%; margin-top: 8px; margin-bottom: 8px; vertical-align: top; border-collapse: collapse; background-color: rgb(247, 247, 247);
}
table.src td {
	padding: 5px; border: 1px solid rgb(214, 214, 214); border-collapse: collapse;
}
table.src th {
	padding: 5px; border: 1px solid rgb(214, 214, 214); text-align: left; border-collapse: collapse; background-color: rgb(238, 238, 238);
}
table.right {
	border: 1px solid rgb(214, 214, 214); width: 95%; margin-top: 8px; margin-bottom: 8px; margin-left: 5px; vertical-align: top; border-collapse: collapse; background-color: rgb(247, 247, 247);
}
table.right td {
	padding: 5px; border: 1px solid rgb(214, 214, 214); border-collapse: collapse;
}
table.right th {
	padding: 3px; border: 1px solid rgb(0, 0, 0); text-align: center; color: white; border-collapse: collapse; background-color: rgb(0, 0, 0);
}
table.tlist {
	border: 1px solid rgb(214, 214, 214); width: 95%; margin-top: 8px; margin-bottom: 8px; margin-left: 5px; vertical-align: top; border-collapse: collapse; background-color: rgb(247, 247, 247);
}
table.tlist td {
	padding: 5px; border: 1px solid rgb(214, 214, 214); text-align: left; font-size: 90%; border-collapse: collapse;
}
table.tlist th {
	padding: 3px; border: 1px solid rgb(0, 0, 0); text-align: center; color: white; border-collapse: collapse; background-color: rgb(0, 0, 0);
}
div#left a.front:hover {
	color: rgb(170, 170, 170);
}
div#right a.front:hover {
	color: rgb(170, 170, 170);
}
a.more:link {
	color: rgb(102, 127, 148);
}
a.more:visited {
	color: rgb(102, 127, 148);
}
a.more:active {
	color: rgb(255, 0, 0);
}
a.more:hover {
	color: rgb(255, 0, 0);
}
a.more {
	font-family: tahoma,arial; font-size: 10px; font-weight: bold; text-decoration: underline;
}
img.more {
	display: inline;
}
table.src th.fivepct {
	width: 5%;
}
table.src th.thirtypct {
	width: 30%;
}
table.src th.twentypct {
	width: 20%;
}
h1.logo a {
	background: url("/ruby/images/final-logo.png") no-repeat right; margin: 0px; padding: 0px; border: 0px currentColor; left: 0px; width: 455px; text-indent: -9999px; overflow: visible; float: left; position: relative; z-index: 10;
}
input {
	font-family: inherit; font-size: 100%;
}
textarea {
	font-family: inherit; font-size: 100%;
}
select {
	font-family: inherit; font-size: 100%;
}
input[type=text] {
	background: rgb(238, 238, 238); border-width: medium medium 1px; border-style: none none solid; border-color: currentColor currentColor rgb(200, 199, 180); padding: 6px 2%; border-radius: 5px; color: rgb(75, 66, 58); -webkit-border-radius: 5px; -moz-border-radius: 5px; -webkit-appearance: none;
}
input[type=password] {
	background: rgb(238, 238, 238); border-width: medium medium 1px; border-style: none none solid; border-color: currentColor currentColor rgb(200, 199, 180); padding: 6px 2%; border-radius: 5px; color: rgb(75, 66, 58); -webkit-border-radius: 5px; -moz-border-radius: 5px; -webkit-appearance: none;
}
textarea {
	background: rgb(238, 238, 238); border-width: medium medium 1px; border-style: none none solid; border-color: currentColor currentColor rgb(200, 199, 180); padding: 6px 2%; border-radius: 5px; color: rgb(75, 66, 58); -webkit-border-radius: 5px; -moz-border-radius: 5px; -webkit-appearance: none;
}
input[type=text] {
	border: 1px solid rgb(170, 170, 170); width: 240px; max-width: 96%;
}
#search {
	width: 250px; height: 35px; float: right;
}
#search input.btn {
	margin: 9px 0px -4px -27px; padding: 0px; border: currentColor; width: auto;
}
#searchform #s {
	font: italic 105%/110% "Times New Roman", Times, serif; padding: 3px 4px 3px 28px; border-radius: 13px; border: 1px solid rgb(238, 238, 238); transition:0.7s; width: 210px; color: rgb(134, 133, 111); font-size-adjust: none; font-stretch: normal; -webkit-border-radius: 13px; -moz-border-radius: 13px; -webkit-transition: .7s; -moz-transition: .7s; -o-transition: .7s;
}
#searchform #s:focus {
	font-style: normal; background-color: rgb(255, 255, 255); -moz-outline: none;
}
#header {
	background: rgb(193, 204, 34); width: 100%; height: 65px; line-height: 50px;
}
#topmenu {
	margin: 0px; padding: 0px; top: -6px; width: 100%; height: 38px; clear: both; position: relative; background-color: rgb(58, 57, 57);
}
#topmenu #left {
	text-align: left; padding-top: 12px; padding-left: 0px; font-size: 108%; word-spacing: 0px; float: none; white-space: nowrap;
}
#topmenu #right {
	top: -22px; text-align: right; color: white; padding-top: 9px; padding-right: 0px; font-size: 76%; word-spacing: 0px; float: right; white-space: nowrap; position: relative;
}
.handle {
	white-space: nowrap;
}
#topmenu a:link {
	padding: 7px; color: white; font-weight: bold; text-decoration: none; background-color: transparent;
}
#topmenu #right a:link {
	padding: 4px !important;
}
#topmenu a:visited {
	color: white; text-decoration: none; background-color: transparent;
}
#topmenu a:hover {
	border-radius: 5px; color: rgb(0, 0, 0); font-weight: bold; text-decoration: none; background-color: rgb(255, 199, 0); -webkit-border-radius: 5px; -moz-border-radius: 5px; -khtml-border-radius: 5px;
}
#topmenu a:active {
	color: red; text-decoration: none; background-color: transparent;
}
.wrapper {
	margin: 0px auto; padding: 0px; width: 960px; overflow: hidden;
}
.cbse_wrapper {
	margin: 0px auto; padding: 0px; width: 1035px; overflow: hidden;
}
.central {
	padding: 5px; text-align: center; margin-right: auto; margin-left: auto;
}
#leftcol {
	border: 0px solid rgb(214, 214, 214); width: 208px; height: auto; float: left; position: relative; z-index: 60;
}
.sticky#leftcol {
	left: auto; top: 20px; overflow: hidden; position: relative; z-index: 6;
}
#leftcol b {
	left: 10px; color: rgb(0, 0, 0); font-size: 110%; position: relative;
}
#leftcol .menu b {
	left: 0px; color: rgb(0, 0, 0); font-size: 110%; position: relative;
}
#leftcol .mini-logo img {
	margin: 0px 6px 0px auto; text-align: center; display: block;
}
#middlecol {
	background: rgb(255, 255, 255); border: 1px solid rgb(214, 214, 214); width: 575px; float: left;
}
#cbse_middlecol {
	background: rgb(255, 255, 255); border: 1px solid rgb(214, 214, 214); width: 653px; float: left;
}
#rightcol {
	padding: 2px; border: 0px solid rgb(214, 214, 214); width: 170px; height: 100%; text-align: center; margin-top: 0px; float: left; position: relative;
}
.cleaer {
	clear: both;
}
.clearer {
	clear: both;
}
#leftcol {
	padding: 0px; min-height: 600px;
}
#middlecol {
	padding: 0px; min-height: 600px;
}
#rightcol {
	padding: 0px; min-height: 600px;
}
#leftcol p {
	font-weight: bold;
}
#content p {
	font-weight: bold;
}
#rightcol p {
	font-weight: bold;
}
#leftcol {
	
}
#content {
	background: rgb(255, 255, 255);
}
ul.list {
	list-style: none; padding-left: 15px;
}
ol.list {
	padding-left: 35px;
}
ul.alpha {
	list-style: upper-alpha; padding-left: 35px;
}
ol.alpha {
	list-style: upper-alpha; padding-left: 35px;
}
ul.choice {
	list-style: upper-alpha; padding-left: 22px;
}
ol.choice {
	list-style: upper-alpha; padding-left: 22px;
}
ul.list li {
	background: url("/images/icon-bullet.png") no-repeat 0px 0px; padding: 0px 0px 0px 19px;
}
ol.alpha {
	list-style: upper-alpha; padding-left: 35px;
}
#rightcol {
	
}
#rightcol p {
	margin: 0.4em 0px 0.8em; text-align: center;
}
#leftcol ul.menu {
	list-style: none; margin-top: 5px; margin-right: 5px; margin-bottom: 10px;
}
#rightcol ul.menu {
	list-style: none; text-align: left; margin-top: 5px; margin-right: 5px; margin-bottom: 10px;
}
ul.menu li {
	background: url("/images/list-icon.png") no-repeat 0px 5px; margin: 0px; padding: 0px 0px 0px 19px;
}
ul.menu li.expandable {
	background: url("/images/list-icon.png") no-repeat 0px 5px; margin: 0px; padding: 0px 0px 0px 19px;
}
ul.menu li.expanded {
	background: url("/images/list-icon-minus.png") no-repeat 0px 5px; margin: 0px; padding: 0px 0px 0px 19px;
}
#leftcol ul.submenu {
	list-style: none; margin-top: 0px; margin-right: 0px; margin-bottom: 0px;
}
ul.submenu li {
	background: url("/images/sub-menu.gif") no-repeat 0px 8px; margin: 0px; padding: 0px 0px 0px 10px;
}
#leftcol ul.menu li.heading {
	background: rgb(193, 204, 34); margin: 0px; padding: 5px 0px 5px 15px; border: 1px solid rgb(56, 123, 44); font-size: 110%; font-weight: bold;
}
#leftcol ul.menu li.scrollheading {
	background: rgb(193, 204, 34); margin: 0px; padding: 3px 3px 3px 10px; border: 1px solid rgb(56, 123, 44); width: 188px !important; font-size: 18px; font-weight: bold;
}
ul.menu li.sreading {
	background: rgb(193, 193, 193); margin: 0px; padding: 5px 0px 5px 15px; border: 1px solid rgb(170, 170, 170); font-size: 110%; font-weight: bold;
}
ul.menu li a {
	padding: 5px 0px; border-bottom-color: rgb(187, 187, 187); border-bottom-width: 1px; border-bottom-style: dotted; display: block;
}
ul.menu li a:link {
	color: black; text-decoration: none; background-color: transparent;
}
ul.menu li a:visited {
	color: black; text-decoration: none; background-color: transparent;
}
ul.menu li a:hover {
	color: red; text-decoration: none; border-right-color: rgb(187, 187, 187); border-left-color: rgb(187, 187, 187); border-right-width: 1px; border-left-width: 1px; border-right-style: dotted; border-left-style: dotted; background-color: rgb(224, 224, 224);
}
ul.menu li a:active {
	color: red; text-decoration: none; background-color: rgb(204, 204, 204);
}
#middlecol div.content {
	padding: 0px 7px 7px;
}
div.rightgooglead {
	text-align: center;
}
div.bottomgooglead {
	text-align: left; padding-bottom: 15px; padding-left: 5px;
}
div.bottomadtag {
	padding-left: 125px;
}
div.topgooglead {
	text-align: center; padding-top: 5px; border-top-color: rgb(214, 214, 214); border-top-width: 1px; border-top-style: solid;
}
div.localad {
	margin: 0px 5px 5px; padding: 5px; border: 1px solid rgb(144, 142, 143); text-align: center;
}
div.addthis {
	margin: 0px 5px 5px; padding: 5px; border: 1px solid rgb(144, 142, 143); text-align: center;
}
.addthis div.addthis_default_style.addthis_toolbox {
	text-align: center; padding-left: 8px;
}
.pre-btn {
	text-align: center; padding-bottom: 5px; padding-left: 10px; float: left; position: relative;
}
.pre-btn a:link {
	background: url("/images/sprite.png") no-repeat 0px -27px; color: rgb(0, 0, 0); padding-left: 20px; font-size: 115%; text-decoration: none;
}
.pre-btn a:visited {
	background: url("/images/sprite.png") no-repeat 0px -27px; color: rgb(0, 0, 0); padding-left: 20px; font-size: 115%; text-decoration: none;
}
.pre-btn a:hover {
	background: url("/images/sprite.png") no-repeat 0px 0px; color: rgb(0, 0, 0); padding-left: 20px; font-size: 115%; text-decoration: none;
}
.pre-btn a:active {
	background: url("/images/sprite.png") no-repeat 0px 0px; color: rgb(0, 0, 0); padding-left: 20px; font-size: 115%; text-decoration: none;
}
.pre-q-btn {
	text-align: center; padding-bottom: 5px; padding-left: 10px; float: left; position: relative;
}
.pre-q-btn a:link {
	background: url("/images/sprite.png") no-repeat 0px -27px; color: rgb(0, 0, 0); padding-left: 20px; font-size: 115%; text-decoration: none;
}
.pre-q-btn a:visited {
	background: url("/images/sprite.png") no-repeat 0px -27px; color: rgb(0, 0, 0); padding-left: 20px; font-size: 115%; text-decoration: none;
}
.pre-q-btn a:hover {
	background: url("/images/sprite.png") no-repeat 0px 0px; color: rgb(0, 0, 0); padding-left: 20px; font-size: 115%; text-decoration: none;
}
.pre-q-btn a:active {
	background: url("/images/sprite.png") no-repeat 0px 0px; color: rgb(0, 0, 0); padding-left: 20px; font-size: 115%; text-decoration: none;
}
.nxt-btn {
	left: 0px; text-align: right; padding-bottom: 5px; margin-right: 20px; float: right; position: relative;
}
.nxt-btn a:link {
	background: url("/images/sprite.png") no-repeat 88px -52px; color: rgb(0, 0, 0); padding-right: 20px; padding-left: 20px; font-size: 115%; text-decoration: none;
}
.nxt-btn a:visited {
	background: url("/images/sprite.png") no-repeat 88px -52px; color: rgb(0, 0, 0); padding-right: 20px; padding-left: 20px; font-size: 115%; text-decoration: none;
}
.nxt-btn a:hover {
	background: url("/images/sprite.png") no-repeat 88px -79px; color: rgb(0, 0, 0); padding-left: 20px; font-size: 115%; text-decoration: none;
}
.nxt-btn a:active {
	background: url("/images/sprite.png") no-repeat 88px -79px; color: rgb(0, 0, 0); padding-left: 20px; font-size: 115%; text-decoration: none;
}
.nxt-q-btn {
	left: 0px; text-align: right; padding-bottom: 5px; margin-right: 20px; float: right; position: relative;
}
.nxt-q-btn a:link {
	background: url("/images/sprite.png") no-repeat 112px -52px; color: rgb(0, 0, 0); padding-right: 20px; padding-left: 20px; font-size: 115%; text-decoration: none;
}
.nxt-q-btn a:visited {
	background: url("/images/sprite.png") no-repeat 112px -52px; color: rgb(0, 0, 0); padding-right: 20px; padding-left: 20px; font-size: 115%; text-decoration: none;
}
.nxt-q-btn a:hover {
	background: url("/images/sprite.png") no-repeat 112px -79px; color: rgb(0, 0, 0); padding-left: 20px; font-size: 115%; text-decoration: none;
}
.nxt-q-btn a:active {
	background: url("/images/sprite.png") no-repeat 112px -79px; color: rgb(0, 0, 0); padding-left: 20px; font-size: 115%; text-decoration: none;
}
.print-btn {
	left: 45px; top: 0px; text-align: center; padding-left: 0px; float: left; position: relative;
}
.print-btn a:link {
	background: url("/images/sprite.png") no-repeat 0px -107px; color: rgb(0, 0, 0); padding-left: 20px; font-size: 115%; text-decoration: none;
}
.print-btn a:visited {
	background: url("/images/sprite.png") no-repeat 0px -107px; color: rgb(0, 0, 0); padding-left: 20px; font-size: 115%; text-decoration: none;
}
.print-btn a:hover {
	background: url("/images/sprite.png") no-repeat 0px -133px; padding-left: 20px; font-size: 115%; text-decoration: none;
}
.print-btn a:active {
	background: url("/images/sprite.png") no-repeat 0px -133px; padding-left: 20px; font-size: 115%; text-decoration: none;
}
.show-ans-btn {
	left: 95px; top: 0px; text-align: center; padding-left: 0px; float: left; display: none; position: relative;
}
.show-ans-btn a:link {
	background: url("/images/answer.png") no-repeat 0px -27px; color: rgb(0, 0, 0); padding-left: 20px; font-size: 115%; text-decoration: none;
}
.show-ans-btn a:visited {
	background: url("/images/answer.png") no-repeat 0px -27px; color: rgb(0, 0, 0); padding-left: 20px; font-size: 115%; text-decoration: none;
}
.show-ans-btn a:hover {
	background: url("/images/answer.png") no-repeat 0px -1px; padding-left: 20px; font-size: 115%; text-decoration: none;
}
.show-ans-btn a:active {
	background: url("/images/answer.png") no-repeat 0px -1px; padding-left: 20px; font-size: 115%; text-decoration: none;
}
.pdf-btn {
	left: 85px; top: 0px; text-align: center; padding-left: 0px; float: left; position: relative;
}
.pdf-btn a:link {
	background: url("/images/sprite.png") no-repeat 0px -162px; color: rgb(0, 0, 0); padding-left: 20px; font-size: 115%; text-decoration: none;
}
.pdf-btn a:visited {
	background: url("/images/sprite.png") no-repeat 0px -162px; color: rgb(0, 0, 0); padding-left: 20px; font-size: 115%; text-decoration: none;
}
.pdf-btn a:hover {
	background: url("/images/sprite.png") no-repeat 0px -193px; padding-left: 20px; font-size: 115%; text-decoration: none;
}
.pdf-btn a:active {
	background: url("/images/sprite.png") no-repeat 0px -193px; padding-left: 20px; font-size: 115%; text-decoration: none;
}
.show-res-btn {
	left: 60px; top: 0px; text-align: center; padding-left: 0px; float: left; display: none; position: relative;
}
.show-res-btn a:link {
	background: url("/images/sprite.png") no-repeat 0px -162px; color: rgb(0, 0, 0); padding-left: 20px; font-size: 115%; text-decoration: none;
}
.show-res-btn a:visited {
	background: url("/images/sprite.png") no-repeat 0px -162px; color: rgb(0, 0, 0); padding-left: 20px; font-size: 115%; text-decoration: none;
}
.show-res-btn a:hover {
	background: url("/images/sprite.png") no-repeat 0px -193px; padding-left: 20px; font-size: 115%; text-decoration: none;
}
.show-res-btn a:active {
	background: url("/images/sprite.png") no-repeat 0px -193px; padding-left: 20px; font-size: 115%; text-decoration: none;
}
hr {
	border: 0px currentColor; width: 100%; height: 1px; text-align: left; color: rgb(214, 214, 214); background-color: rgb(214, 214, 214);
}
#footer {
	background: url("/images/footer.png") repeat-x; padding: 10px; width: 100%; height: 80px; clear: both; margin-top: 5px; border-top-color: rgb(214, 214, 214); border-top-width: 1px; border-top-style: solid; float: left; z-index: 100000;
}
#footer p {
	margin: 0px; padding: 10px;
}
#bottommenu {
	margin: 0px; padding: 7px 0px 0px; top: 4px; width: 100%; text-align: center; color: rgb(121, 121, 121); clear: both; font-size: 90%; word-spacing: 6px; white-space: nowrap; position: relative;
}
#bottommenu a:link {
	color: rgb(97, 97, 97); font-weight: bold; text-decoration: none; background-color: transparent;
}
#bottommenu a:visited {
	color: rgb(97, 97, 97); text-decoration: none; background-color: transparent;
}
#bottommenu a:hover {
	color: black; font-weight: bold; text-decoration: none; background-color: transparent;
}
#bottommenu a:active {
	color: red; text-decoration: none; background-color: transparent;
}
#copyright {
	width: 100%; color: rgb(64, 64, 64); padding-top: 13px; clear: both;
}
#copyright p {
	margin: 0px auto; text-align: center;
}
.icons a {
	padding: 40px 0px 2px; color: rgb(68, 68, 68) !important; text-decoration: none; display: block; -webkit-transition: all .2s ease-out; -moz-transition: all .2s ease-out;
}
.twitter {
	background: url("/images/icon-twitter.png") no-repeat top; width: 60px;
}
.facebook {
	background: url("/images/icon-facebook.png") no-repeat top; width: 60px;
}
.rss a {
	background: url("/images/icon-rss.png") no-repeat top; width: 60px;
}
table.icons {
	border: 1px solid rgb(214, 214, 214); width: 95%; margin-top: 0px; margin-bottom: 8px; margin-left: 5px; vertical-align: top; border-collapse: collapse;
}
sub {
	font-size: 13px;
}
sup {
	font-size: 13px;
}
.cprogramming {
	color: rgb(150, 28, 54);
}
.inline {
	padding: 5px; vertical-align: middle; display: inline;
}
.main-image {
	padding-top: 7px;
}
blockquote {
	background: url("/images/quote.png") no-repeat; margin: 1em 10px; padding-left: 20px;
}
.widget {
	background: rgb(238, 238, 238); margin: 0px; padding: 5px; border: 1px solid rgb(222, 219, 209); width: 550px;
}
.widget a {
	color: rgb(34, 34, 34); text-decoration: none;
}
.widget a:hover {
	color: rgb(0, 0, 153); text-decoration: underline;
}
.tabnav li {
	list-style: none; padding-right: 5px; display: inline;
}
.tabnav ui-tabs-nav ul {
	padding-bottom: 5px !important;
}
.tabnav li a {
	padding: 4px 6px; color: rgb(34, 34, 34); text-transform: uppercase; font-weight: bold; text-decoration: none;
}
.tabnav li a:hover {
	background: rgb(222, 219, 209); color: rgb(34, 34, 34); text-decoration: none;
}
.tabnav li a:active {
	background: rgb(222, 219, 209); color: rgb(34, 34, 34); text-decoration: none;
}
.tabnav li.ui-tabs-selected a {
	background: rgb(222, 219, 209); color: rgb(34, 34, 34); text-decoration: none;
}
.tabdiv {
	background: rgb(255, 255, 255); padding: 2px 3px 2px 2px; border: 1px solid rgb(222, 219, 209); margin-top: 2px;
}
.tabdiv li {
	margin-left: 20px; list-style-image: url("star.png");
}
.ui-tabs-hide {
	display: none;
}
#featuredvid {
	text-align: center;
}
.fvid {
	margin-bottom: 5px;
}
.vidselector li {
	background: rgb(255, 255, 255); list-style: none; padding: 5px; border: 1px solid rgb(222, 219, 209); text-align: left; text-transform: uppercase; margin-bottom: 5px;
}
.text {
	background: rgb(255, 255, 255); border: 0px currentColor; overflow: hidden; min-width: 96%; max-width: 96%;
}
.question {
	margin: 0px 0px 3px; padding: 4px; font-weight: bold;
}
.answer {
	margin: 0px; padding: 4px;
}
.qb_question div {
	padding: 5px;
}
.wrongquestion {
	background: yellow; color: red;
}
.qb_answer {
	background: rgb(238, 238, 238); margin: 0px; padding: 5px; border: 1px solid rgb(214, 214, 214); display: none;
}
.qb_answer h3 {
	text-transform: none;
}
.qb_answer h3 {
	text-transform: none;
}
.qb_answer pre.prettyprint {
	border: 0px solid rgb(214, 214, 214) !important;
}
.qb_answer pre.tryit.prettyprint {
	background: url("/images/link.png") no-repeat right top rgb(238, 238, 238) !important;
}
pre.tryit.prettyprint {
	background: url("/images/link.png") no-repeat right top rgb(238, 238, 238) !important;
}
pre.nodisplay {
	display: none;
}
figure {
	margin: 0px; padding: 0px;
}
div.prettyprint {
	padding: 5px; border: 1px solid rgb(214, 214, 214); background-color: rgb(238, 238, 238);
}
div.cover {
	padding: 5px; border: 1px solid rgb(214, 214, 214);
}
.cover img {
	margin: 0px !important;
}
@media 
{
img {
	width: auto;
}
}
@media only screen and (max-width:769px)
{
#topmenu a:link {
	padding: 0px !important; text-align: center;
}
.print-btn {
	display: none;
}
.pdf-btn {
	display: none;
}
.nxt-btn {
	padding-top: 4px; font-size: 15px;
}
.pre-btn {
	padding-top: 4px; font-size: 15px;
}
.nxt-btn a:link {
	background: url("/images/sprite.png") no-repeat 92px -49px; padding-left: 10px; margin-top: -3px;
}
.nxt-btn a:visited {
	background: url("/images/sprite.png") no-repeat 92px -49px; padding-left: 10px; margin-top: -3px;
}
.nxt-btn a:hover {
	background: url("/images/sprite.png") no-repeat 92px -76px; padding-left: 10px; margin-top: -3px;
}
.nxt-btn a:active {
	background: url("/images/sprite.png") no-repeat 92px -76px; padding-left: 10px; margin-top: -3px;
}
.pre-btn a:link {
	background: url("/images/sprite.png") no-repeat 0px -25px;
}
.pre-btn a:visited {
	background: url("/images/sprite.png") no-repeat 0px -25px;
}
.pre-btn a:hover {
	background: url("/images/sprite.png") no-repeat 0px 2px;
}
.pre-btn a:active {
	background: url("/images/sprite.png") no-repeat 0px 2px;
}
#header .wrapper {
	max-width: 100% !important;
}
h1.logo a {
	background-position: center; height: auto; max-width: 100% !important; background-repeat: no-repeat; background-size: 100%;
}
#header .wrapper h1 {
	margin: 0px auto; width: 768px;
}
#header #search {
	display: none;
}
#topmenu .wrapper #left {
	display: none;
}
#topmenu .wrapper #right {
	display: none;
}
#topmenu .wrapper #mobileright img {
	right: 50px; position: relative;
}
#topmenu .wrapper #mobileright {
	top: -14px; float: none; display: block !important; position: relative;
}
#topmenu .wrapper #mobileleft {
	left: 10px; top: 5px; width: 85px; display: block !important; position: relative;
}
#footer .wrapper #bottommenu {
	display: none;
}
#leftcol {
	display: none;
}
#middlecol img {
	width: 100% !important; height: auto; float: left; max-width: 100% !important;
}
img {
	height: auto !important; max-width: 100% !important;
}
.topgooglead img {
	height: auto !important; max-width: 100% !important;
}
table {
	width: 99.5% !important; max-width: 99.5% !important;
}
#footer .wrapper #copyright p {
	text-align: left !important;
}
#middlecol .content h3 {
	font-size: 13px !important;
}
#middlecol .content h2 {
	font-size: 16px !important;
}
#middlecol .content h1 {
	font-size: 20px !important;
}
ul.menu li a:link {
	color: black; text-decoration: none; background-color: transparent;
}
ul.menu li a:visited {
	color: black; text-decoration: none; background-color: transparent;
}
ul.menu li a:hover {
	color: red; font-size: 130%; text-decoration: none; border-right-color: rgb(187, 187, 187); border-left-color: rgb(187, 187, 187); border-right-width: 1px; border-left-width: 1px; border-right-style: dotted; border-left-style: dotted; background-color: rgb(224, 224, 224);
}
ul.menu li a:active {
	color: red; text-decoration: none; background-color: rgb(204, 204, 204);
}
div.bottomgooglead {
	padding-left: 0px;
}
h1.logo {
	width: 100%; text-align: center;
}
}
