.gsc-control {
	width: 300px;
}
.gsc-control div {
	position: static;
}
.gsc-control-cse {
	width: 100%; font-family: Arial, sans-serif; font-size: 13px;
}
.gsc-control-cse .gsc-table-result {
	width: 100%; font-family: Arial, sans-serif; font-size: 13px;
}
.gsc-control-cse div {
	position: static;
}
form.gsc-search-box {
	margin: 0px 0px 4px; width: 100%; font-size: 13px;
}
table.gsc-search-box {
	border-width: 0px; width: 100%; margin-bottom: 2px; border-spacing: 0 0;
}
table.gsc-search-box td {
	vertical-align: middle;
}
table.gsc-search-box td.gsc-input {
	padding-right: 12px;
}
td.gsc-search-button {
	width: 1%;
}
td.gsc-clear-button {
	width: 14px;
}
table.gsc-branding td {
	margin: 0px; padding: 0px; border: currentColor;
}
table.gsc-branding {
	margin: 0px; padding: 0px; border: currentColor;
}
table.gcsc-branding td {
	margin: 0px; padding: 0px; border: currentColor;
}
table.gcsc-branding {
	margin: 0px; padding: 0px; border: currentColor;
}
table.gsc-branding {
	border-width: 0px; width: 100%; border-spacing: 0 0;
}
table.gcsc-branding {
	border-width: 0px; width: 100%; border-spacing: 0 0;
}
td.gsc-branding-text {
	vertical-align: top;
}
td.gcsc-branding-text {
	vertical-align: top;
}
td.gsc-branding-text div.gsc-branding-text {
	text-align: right; padding-bottom: 2px; font-size: 11px; margin-right: 2px;
}
td.gcsc-branding-text div.gcsc-branding-text {
	text-align: right; padding-bottom: 2px; font-size: 11px; margin-right: 2px;
}
div.gsc-branding-youtube td.gsc-branding-text {
	vertical-align: middle;
}
td.gsc-branding-img-noclear {
	width: 51px; vertical-align: bottom;
}
td.gcsc-branding-img-noclear {
	width: 51px; vertical-align: bottom;
}
td.gsc-branding-img {
	width: 65px; vertical-align: bottom;
}
td.gcsc-branding-img {
	width: 65px; vertical-align: bottom;
}
div.gsc-branding-youtube td.gsc-branding-img-noclear {
	width: 55px;
}
div.gsc-branding-youtube td.gsc-branding-img {
	width: 69px;
}
table.gsc-branding-vertical td.gsc-branding-text div.gsc-branding-text {
	text-align: center; margin-right: 0px;
}
table.gsc-branding-vertical td.gsc-branding-img-noclear {
	text-align: center;
}
div.gsc-branding-img {
	padding-top: 1px;
}
div.gsc-branding-img-noclear {
	padding-top: 1px;
}
img.gsc-branding-img {
	padding-top: 1px;
}
img.gsc-branding-img-noclear {
	padding-top: 1px;
}
div.gcsc-branding-img {
	padding-top: 1px;
}
div.gcsc-branding-img-noclear {
	padding-top: 1px;
}
img.gcsc-branding-img {
	padding-top: 1px;
}
img.gcsc-branding-img-noclear {
	padding-top: 1px;
}
img.gsc-branding-img {
	margin: 0px; border: currentColor; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; display: inline;
}
img.gsc-branding-img-noclear {
	margin: 0px; border: currentColor; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; display: inline;
}
img.gcsc-branding-img {
	margin: 0px; border: currentColor; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; display: inline;
}
img.gcsc-branding-img-noclear {
	margin: 0px; border: currentColor; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; display: inline;
}
td.gcsc-branding-text {
	width: 100%; white-space: nowrap;
}
td.gcsc-branding-text div.gcsc-branding-text {
	margin: 0px 2px;
}
td.gcsc-branding-img-noclear {
	width: auto;
}
a.gsc-branding-clickable {
	cursor: pointer;
}
input.gsc-search-button {
	margin-left: 2px;
}
div.gsc-clear-button {
	background-position: center; text-align: right; padding-left: 10px; margin-right: 4px; margin-left: 4px; display: inline; cursor: pointer; background-image: url("//www.google.com/uds/css/clear.gif"); background-repeat: no-repeat;
}
.gsc-search-box-tools .gsc-clear-button {
	display: none;
}
.gsc-results-close-btn {
	background-position: -140px -230px; top: 20px; width: 12px; height: 12px; right: 20px; float: right; display: none; position: absolute !important; cursor: pointer; opacity: 0; background-image: url("//www.google.com/images/nav_logo114.png"); background-repeat: no-repeat;
}
.gsc-results-close-btn-visible {
	display: block; opacity: 1;
}
.gsc-results-wrapper-nooverlay {
	
}
.gsc-results-wrapper-overlay {
	background: white; margin: auto; padding: 30px; border-radius: 1px; border: currentColor; transition:0.25s linear; left: 12%; top: 5%; width: 70%; height: 80%; overflow: auto; visibility: hidden; border-collapse: separate; position: fixed !important; z-index: 100002; opacity: 0; box-shadow: 0px 3px 10px rgba(34,25,25,0.4); -moz-transition: all 0.25s linear; -o-transition: all 0.25s linear; -webkit-transition: all 0.25s linear; -webkit-box-shadow: 0px 3px 10px rgba(34, 25, 25, 0.4); -moz-box-shadow: 0px 3px 10px rgba(34, 25, 25, 0.4); -ms-box-shadow: 0px 3px 10px rgba(34, 25, 25, 0.4); -o-box-shadow: 0px 3px 10px rgba(34, 25, 25, 0.4);
}
.gsc-results-wrapper-visible {
	visibility: visible !important; opacity: 1 !important;
}
.gsc-modal-background-image {
	transition:0.25s linear; left: 0px; top: 0px; width: 100%; height: 130%; display: none; position: fixed !important; z-index: 100001; opacity: 0; background-color: white; -moz-transition: all 0.25s linear; -o-transition: all 0.25s linear; -webkit-transition: all 0.25s linear;
}
.gsc-modal-background-image-visible {
	display: block; opacity: 0.8;
}
.gsc-overflow-hidden {
	overflow: hidden;
}
input.gsc-input {
	padding: 1px 6px; border: 1px solid rgb(221, 221, 221); width: 99%;
}
.gsc-keeper {
	background-position: 1px 3px; color: rgb(51, 102, 204); padding-left: 16px; font-size: 13px; font-weight: normal; text-decoration: underline; cursor: pointer; background-image: url("//www.google.com/uds/css/blue_check.gif"); background-repeat: no-repeat;
}
.gsc-resultsHeader {
	width: 100%; clear: both;
}
.gsc-resultsHeader td.gsc-twiddleRegionCell {
	width: 75%;
}
.gsc-resultsHeader td.gsc-configLabelCell {
	width: 75%; text-align: right;
}
.gsc-resultsHeader .gsc-twiddle {
	background-position: 0px 2px; margin-top: 4px; display: inline; cursor: pointer; background-repeat: no-repeat;
}
.gsc-resultsHeader td.gsc-twiddle-closed div.gsc-twiddle {
	background-image: url("//www.google.com/uds/css/arrow_close.gif");
}
.gsc-resultsHeader td.gsc-twiddle-opened div.gsc-twiddle {
	background-image: url("//www.google.com/uds/css/arrow_open.gif");
}
.gsc-resultsHeader .gsc-title {
	color: rgb(103, 103, 103); padding-left: 14px; margin-right: 10px; display: inline;
}
.gsc-resultsHeader .gsc-stats {
	color: rgb(103, 103, 103); font-size: 11px; font-weight: normal; display: inline;
}
.gsc-resultsHeader td.gsc-twiddle-opened .gsc-stats {
	display: none;
}
.gsc-results-selector {
	display: inline;
}
.gsc-resultsHeader td.gsc-twiddle-closed .gsc-results-selector {
	display: none;
}
.gsc-result-selector {
	background-position: left; padding-left: 13px; font-size: 13px; display: inline; cursor: pointer; background-repeat: no-repeat;
}
.gsc-one-result {
	background-image: url("//www.google.com/uds/css/one-complex-dark.gif");
}
.gsc-more-results {
	background-image: url("//www.google.com/uds/css/more-complex-dark.gif");
}
.gsc-all-results {
	padding-right: 1px; background-image: url("//www.google.com/uds/css/all-complex-dark.gif");
}
.gsc-one-result-active .gsc-one-result {
	background-image: url("//www.google.com/uds/css/one-complex-light-blue.gif");
}
.gsc-more-results-active .gsc-more-results {
	background-image: url("//www.google.com/uds/css/more-complex-light-blue.gif");
}
.gsc-all-results-active .gsc-all-results {
	background-image: url("//www.google.com/uds/css/all-complex-light-blue.gif");
}
.gsc-resultsHeader .gsc-configLabel {
	color: rgb(103, 103, 103); font-size: 11px; display: inline; cursor: pointer;
}
.gsc-resultsHeader td.gsc-configLabelCell span.gsc-twiddle-closed {
	background-position: center; padding-right: 12px; background-image: url("//www.google.com/uds/css/settings.gif"); background-repeat: no-repeat;
}
.gsc-tabsArea {
	clear: both; margin-top: 6px; margin-bottom: 8px;
}
.gsc-tabsArea .gs-spacer {
	overflow: hidden; font-size: 1px; margin-right: 0px;
}
.gsc-tabsArea .gs-spacer-opera {
	margin-right: 0px;
}
.gsc-tabsAreaInvisible {
	display: none;
}
.gsc-refinementsAreaInvisible {
	display: none;
}
.gsc-refinementBlockInvisible {
	display: none;
}
.gsc-tabHeader {
	padding-right: 6px; padding-left: 6px; margin-top: 2px; margin-right: 2px;
}
.gsc-tabhActive.gsc-tabHeader {
	color: black; border-top-color: rgb(255, 153, 0); border-right-color: rgb(233, 233, 233); border-left-color: rgb(233, 233, 233); border-top-width: 2px; border-right-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-left-style: solid;
}
.gsc-tabhInactive.gsc-tabHeader {
	background: rgb(233, 233, 233); color: rgb(103, 103, 103); border-top-color: rgb(233, 233, 233); border-right-color: rgb(233, 233, 233); border-left-color: rgb(233, 233, 233); border-top-width: 2px; border-right-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-left-style: solid; cursor: pointer;
}
.gsc-tabdActive.gsc-tabData {
	display: block;
}
.gsc-tabdInactive.gsc-tabData {
	display: none;
}
.gsc-resultsbox-invisible.gsc-tabdActive.gsc-tabData {
	display: none;
}
.gsc-refinementsArea {
	padding-bottom: 5px; padding-left: 8px; clear: both; margin-bottom: 4px; border-bottom-color: rgb(233, 233, 233); border-bottom-width: 1px; border-bottom-style: solid;
}
.gsc-refinementHeader {
	padding: 2px 8px 0px; margin-right: 2px;
}
.gsc-refinementhActive.gsc-refinementHeader {
	font-weight: bold;
}
.gsc-refinementhInactive.gsc-refinementHeader {
	text-decoration: underline; cursor: pointer;
}
.gsc-tabData .gsc-resultsHeader .gsc-title {
	display: none;
}
.gsc-tabData .gsc-resultsHeader .gsc-stats {
	display: none;
}
.gsc-tabData .gsc-resultsHeader .gsc-results-selector {
	display: none;
}
.gsc-completion-selected {
	background: rgb(238, 238, 238); cursor: default;
}
.gsc-completion-selected .gsc-completion-promotion-table {
	cursor: pointer;
}
.gsc-completion-container {
	background: white; border-width: 1px; border-style: solid; border-color: rgb(217, 217, 217) rgb(221, 221, 221) rgb(221, 221, 221); margin: 0px; font-family: Arial, sans-serif; font-size: 13px; box-shadow: 0px 2px 4px rgba(0,0,0,0.2); -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.gsc-completion-title {
	color: rgb(0, 0, 204); line-height: normal; white-space: normal;
}
.gsc-completion-snippet {
	line-height: normal; white-space: normal;
}
.gsc-completion-container .gsc-completion-icon-cell {
	width: 42px; height: 42px; padding-right: 10px;
}
.gsc-completion-icon {
	border: 1px solid rgb(221, 221, 221); margin-right: auto; margin-left: auto; display: block;
}
.gsc-completion-container .gsc-completion-promotion-table {
	background: inherit; margin: 5px 0px; width: 100%; font-size: inherit;
}
.gsc-resultsbox-visible {
	display: block;
}
.gsc-resultsbox-invisible {
	display: none;
}
.gsc-results {
	width: 99%; padding-bottom: 2px;
}
.gsc-result {
	margin-bottom: 10px;
}
.gsc-result .gs-title {
	height: 1.4em; overflow: hidden;
}
.gsc-result div.gs-watermark {
	display: none;
}
.gsc-results .gsc-result img.gs-ad-marker {
	display: none;
}
.gsc-wrapper {
	display: block; position: relative;
}
.gsc-adBlock {
	margin-bottom: 4px; border-bottom-color: rgb(233, 233, 233); border-bottom-width: 1px; border-bottom-style: solid; display: block; position: relative;
}
.gsc-adBlock h2 {
	margin: 3px 5px 0px; color: rgb(103, 103, 103); font-size: 0.9em; font-weight: normal; float: right;
}
.gsc-adBlock .gsc-ad {
	padding-top: 5px; padding-right: 3px; padding-left: 8px;
}
.gsc-adBlock .gsc-ad a {
	color: rgb(0, 0, 204); line-height: 1.4em; font-weight: bolder;
}
.gsc-adBlock .gsc-ad cite {
	color: green; font-style: normal;
}
.gsc-adBlock .gsc-ad span {
	padding-left: 8px;
}
.gsc-adBlockNoHeight {
	height: 0px;
}
.gsc-adBlockInvisible {
	display: none;
}
.gsc-adBlockVertical {
	width: 30%; clear: right; float: right; display: block; position: relative;
}
.gsc-adBlockBottom {
	margin-bottom: 4px; border-top-color: rgb(233, 233, 233); border-bottom-color: rgb(233, 233, 233); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; display: block; position: relative;
}
.gsc-thinWrapper {
	width: 69%; overflow: hidden; float: left;
}
.gsc-adBlockVertical h2 {
	text-align: center; color: rgb(103, 103, 103); font-size: 0.9em; font-weight: normal; margin-top: 6px;
}
.gsc-adBlockVertical .gsc-ad {
	padding-top: 5px; padding-left: 8px;
}
.gsc-adBlockVertical .gsc-ad a {
	color: rgb(0, 0, 204); line-height: 1.4em; font-weight: bolder;
}
.gsc-adBlockVertical .gsc-ad cite {
	color: green; font-style: normal; display: block;
}
.gsc-adBlockVertical .gsc-ad span {
	
}
div.gsc-config {
	padding: 2px 6px 6px; border: 1px solid rgb(233, 233, 233); margin-top: 0px; margin-bottom: 10px;
}
form.gsc-config {
	margin-bottom: 0px;
}
.gsc-configSetting {
	margin-top: 6px;
}
.gsc-configSetting_Label {
	color: rgb(103, 103, 103);
}
.gsc-configSettingInput {
	border: 1px solid rgb(233, 233, 233); width: 75%; color: rgb(103, 103, 103);
}
.gsc-configSettingCheckbox {
	color: rgb(103, 103, 103); margin-right: 6px;
}
.gsc-configSettingCheckboxLabel {
	color: rgb(103, 103, 103); display: inline;
}
div.gsc-configSettingSubmit {
	text-align: right; margin-top: 8px;
}
input.gsc-configSettingSubmit {
	font-size: 11px; display: inline; cursor: pointer;
}
.gsc-webResult::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
.gsc-webResult {
	-ms-zoom: 1;
}
.gsc-webResult .gsc-result {
	margin: 0px; padding: 0.5em 0px; border-bottom-color: rgb(235, 235, 235); border-bottom-width: 1px; border-bottom-style: solid;
}
.gsc-above-wrapper-area {
	padding: 5px 0px; border-bottom-color: rgb(233, 233, 233); border-bottom-width: 1px; border-bottom-style: solid;
}
.gsc-above-wrapper-area-invisible {
	display: none;
}
.gsc-above-wrapper-area-container {
	width: 100%;
}
.gsc-result-info {
	margin: 10px 0px; text-align: left; color: rgb(103, 103, 103); padding-left: 8px; font-size: 13px;
}
.gsc-result-info-container {
	text-align: left;
}
.gsc-result-info-invisible {
	display: none;
}
.gsc-orderby-container {
	text-align: right;
}
.gsc-orderby-invisible {
	display: none;
}
.gsc-orderby-label {
	padding: 5px 5px 6px 0px; color: rgb(103, 103, 103);
}
.gsc-getlink-container {
	width: 45px; padding-top: 1px; padding-left: 5px;
}
.gsc-getlink-invisible {
	display: none;
}
.gsc-getlink {
	width: 5px;
}
.gsc-getlink-box {
	padding: 0px 28px 0px 6px; outline: 0px; border-radius: 2px; border: 1px solid rgba(0, 0, 0, 0.1); height: 27px; text-align: center; color: rgb(68, 68, 68); line-height: 27px; font-size: 11px; font-weight: bold; position: relative; cursor: default; min-width: 10px; max-width: 90%; box-shadow: 0px 1px 1px rgba(0,0,0,0.1); background-color: rgb(245, 245, 245);
}
.gsc-control-cse .gsc-getlink-textbox {
	background: rgb(255, 255, 255); margin: 0px; padding: 10px; border: 1px solid rgba(0, 0, 0, 0.2); width: auto; right: 20px; position: absolute; z-index: 7; cursor: default; max-height: 360px; box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}
.gsc-getlink-inputbox {
	width: 300px; margin-top: 5px;
}
.gsc-getlink-label {
	width: 100%; font-size: 14px;
}
.gsc-getlink-image {
	height: 29px;
}
.gsc-getlink-text-invisible {
	display: none;
}
.gsc-selected-option-container {
	padding: 0px 28px 0px 6px; outline: 0px; border-radius: 2px; border: 1px solid rgba(0, 0, 0, 0.1); width: 50px !important; height: 27px; text-align: center; color: rgb(68, 68, 68); line-height: 27px; font-size: 11px; font-weight: bold; position: relative; cursor: default; min-width: 54px; max-width: 90%; box-shadow: 0px 1px 1px rgba(0,0,0,0.1); background-color: transparent;
}
.gsc-selected-option {
	width: 100%; position: relative;
}
.gsc-control-cse .gsc-option-selector {
	background: url("//ssl.gstatic.com/ui/v1/disclosure/small-grey-disclosure-arrow-down.png") no-repeat center; padding: 0px 5px; border: currentColor; top: 12px; width: 7px; height: 11px; right: 5px; margin-top: -4px; position: absolute;
}
.gsc-option-menu-invisible {
	display: none;
}
.gsc-control-cse .gsc-option-menu-container {
	color: rgb(0, 0, 0); font-size: 80%; position: relative;
}
.gsc-control-cse .gsc-option-menu {
	background: rgb(255, 255, 255); margin: 0px; padding: 6px 0px; border: 1px solid rgba(0, 0, 0, 0.2); top: 0px; right: 0px; font-size: 13px; position: absolute; z-index: 7; cursor: default; max-height: 360px; box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}
.gsc-option-menu-item {
	list-style: none; margin: 0px; padding: 0px 30px; color: rgb(119, 119, 119); white-space: nowrap; cursor: pointer;
}
.gsc-option-menu-item-highlighted {
	border-width: 1px 0px; border-color: rgb(238, 238, 238); color: rgb(51, 51, 51); background-color: rgb(238, 238, 238);
}
.gsc-option {
	list-style: none; text-align: left; line-height: 27px; white-space: nowrap; cursor: pointer;
}
.gs-web-image-box {
	padding: 2px 8px 2px 0px; width: 62px; text-align: center; margin-right: 0px; margin-left: 0px; float: left;
}
.gs-promotion-image-box {
	padding: 2px 8px 2px 0px; width: 62px; text-align: center; margin-right: 0px; margin-left: 0px; float: left;
}
.gs-web-image-box img.gs-image {
	border: 1px solid rgb(226, 226, 226); max-height: 120px; max-width: 60px;
}
.gs-promotion-image-box img.gs-promotion-image {
	border: 1px solid rgb(226, 226, 226); max-height: 120px; max-width: 60px;
}
div.gs-action {
	margin-right: 0.6em; display: inline;
}
div.gs-action a.gs-action {
	color: rgb(119, 119, 204);
}
div.cart.gs-action a.gs-action {
	background: url("//www.google.com/cse/images/action_icons_sprite.gif") no-repeat; padding-left: 18px;
}
div.star.gs-action a.gs-action {
	background: url("//www.google.com/cse/images/action_icons_sprite.gif") no-repeat; padding-left: 18px;
}
div.rss.gs-action a.gs-action {
	background: url("//www.google.com/cse/images/action_icons_sprite.gif") no-repeat; padding-left: 18px;
}
div.download.gs-action a.gs-action {
	background: url("//www.google.com/cse/images/action_icons_sprite.gif") no-repeat; padding-left: 18px;
}
div.email.gs-action a.gs-action {
	background: url("//www.google.com/cse/images/action_icons_sprite.gif") no-repeat; padding-left: 18px;
}
div.mobile.gs-action a.gs-action {
	background: url("//www.google.com/cse/images/action_icons_sprite.gif") no-repeat; padding-left: 18px;
}
div.share.gs-action a.gs-action {
	background: url("//www.google.com/cse/images/action_icons_sprite.gif") no-repeat; padding-left: 18px;
}
div.fullscreen.gs-action a.gs-action {
	background: url("//www.google.com/cse/images/action_icons_sprite.gif") no-repeat; padding-left: 18px;
}
div.generic.gs-action a.gs-action {
	background: url("//www.google.com/cse/images/action_icons_sprite.gif") no-repeat; padding-left: 18px;
}
div.link.gs-action a.gs-action {
	background: url("//www.google.com/cse/images/action_icons_sprite.gif") no-repeat; padding-left: 18px;
}
div.cart.gs-action a.gs-action {
	
}
div.star.gs-action a.gs-action {
	background-position: -16px -34px;
}
div.rss.gs-action a.gs-action {
	background-position: -48px -98px;
}
div.download.gs-action a.gs-action {
	background-position: -64px -128px;
}
div.email.gs-action a.gs-action {
	background-position: -112px -224px;
}
div.mobile.gs-action a.gs-action {
	background-position: -131px -257px;
}
div.share.gs-action a.gs-action {
	background-position: -32px -64px;
}
div.fullscreen.gs-action a.gs-action {
	background-position: -79px -162px;
}
div.generic.gs-action a.gs-action {
	background-position: -144px -290px;
}
div.link.gs-action a.gs-action {
	background-position: -159px -321px;
}
.gsc-imageResult .gs-imageResult .gs-text-box .gs-ellipsis {
	text-align: left; overflow: hidden; white-space: nowrap; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis;
}
.gsc-imageResult {
	margin-right: 20px; margin-bottom: 1em; float: left;
}
.gsc-imageResult-column {
	margin-right: 70px;
}
.gs-imageResult {
	overflow: hidden;
}
.gs-imageResult .gs-image-box {
	height: 86px; position: relative;
}
.gs-imageResult .gs-text-box {
	height: 4em; text-align: center; overflow: hidden;
}
.gs-imageResult div.gs-title {
	padding: 0px;
}
.gs-imageResult .gs-snippet {
	padding: 0px;
}
.gs-imageResult .gs-visibleUrl {
	padding: 0px;
}
.gs-imageResult .gs-visibleUrl-short {
	padding: 0px;
}
.gs-imageResult .gs-spelling {
	padding: 0px;
}
.gs-imageResult .gs-snippet {
	line-height: 1em; overflow: hidden; white-space: nowrap;
}
.gs-imageResult .gs-visibleUrl {
	height: 1.3em; line-height: 1.3em; overflow: hidden;
}
.gs-imageResult .gs-size {
	color: rgb(111, 111, 111);
}
.gs-imageResult .gs-image-box {
	text-align: center;
}
.gs-imageResult .gs-image-box img.gs-image {
	border: currentColor;
}
.gs-imageResult-classic .gs-text-box .gs-title {
	display: none;
}
.gs-imageResult-column {
	width: 474px; height: 84px;
}
.gs-imageResult-column .gs-image-box {
	text-align: left; margin-right: 10px; float: left;
}
.gs-imageResult-column .gs-text-box {
	width: 350px; height: 86px; float: left;
}
.gsc-imageResult-column .gs-imageResult-column .gs-text-box .gs-title {
	height: auto; text-align: left; overflow: hidden; white-space: normal; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis;
}
.gs-imageResult-column .gs-text-box .gs-size {
	display: none;
}
.gsc-imageResult-popup.gsc-imageResult {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
.gsc-results .gsc-imageResult-popup:hover {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
.gsc-imageResult .gs-imageResult-popup {
	width: auto; overflow: visible; position: relative;
}
.gs-imageResult-popup .gs-image-thumbnail-box {
	padding: 5px;
}
.gs-imageResult-popup .gs-image-box {
	width: auto;
}
.gs-imageResult-popup .gs-image-popup-box {
	background: white; padding: 10px; border: 1px solid rgb(221, 221, 221); left: 0px; top: 0px; width: auto; display: none; position: absolute; box-shadow: 0px 4px 16px rgba(0,0,0,0.2); -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); -ms-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); -webkit-outline: 1px solid rgba(0, 0, 0, 0.2);
}
.gs-imageResult-popup .gs-image-popup-box .gs-image-box {
	width: auto; height: auto; margin-bottom: 10px;
}
.gs-imageResult-popup .gs-image-popup-box .gs-text-box {
	width: auto; height: auto;
}
.gs-imageResult-popup .gs-text-box .gs-title {
	display: none;
}
.gsc-videoResult .gs-videoResult .gs-title {
	height: 1.3em; line-height: 1.3em; overflow: hidden;
}
.gsc-videoResult .gs-videoResult .gs-snippet {
	line-height: 1.3em; overflow: hidden; max-height: 2.6em;
}
.gsc-imageResult .gsc-trailing-more-results {
	clear: both;
}
.gsc-results .gsc-trailing-more-results {
	margin-bottom: 10px;
}
.gsc-results .gsc-trailing-more-results {
	color: rgb(0, 0, 204); text-decoration: underline;
}
.gsc-results .gsc-trailing-more-results * {
	color: rgb(0, 0, 204); text-decoration: underline;
}
.gsc-imageResult .gsc-cursor-box {
	clear: both;
}
.gsc-results .gsc-cursor-box .gsc-trailing-more-results {
	margin-bottom: 0px; display: inline;
}
.gsc-results .gsc-cursor {
	display: inline;
}
.gsc-results .gsc-cursor-box {
	margin-bottom: 10px;
}
.gsc-results .gsc-cursor-box .gsc-cursor-page {
	color: rgb(0, 0, 0); text-decoration: underline; margin-right: 8px; display: inline; cursor: pointer;
}
.gsc-results .gsc-cursor-box .gsc-cursor-current-page {
	color: rgb(169, 10, 8); font-weight: bold; text-decoration: none; cursor: default;
}
.gs-result .gs-title {
	color: rgb(0, 0, 204); text-decoration: underline;
}
.gs-result .gs-title * {
	color: rgb(0, 0, 204); text-decoration: underline;
}
.gsc-control-cse .gs-spelling {
	font-size: 16px;
}
.gsc-control-cse .gs-result .gs-title {
	font-size: 16px;
}
.gsc-control-cse .gs-result .gs-title * {
	font-size: 16px;
}
.gsc-control-cse .gs-result .gs-spelling-original {
	font-size: 13px;
}
.gs-divider {
	text-align: center; color: rgb(103, 103, 103); padding-bottom: 8px;
}
.gs-result a.gs-visibleUrl {
	color: rgb(0, 128, 0); text-decoration: none;
}
.gs-result .gs-visibleUrl {
	color: rgb(0, 128, 0); text-decoration: none;
}
.gs-relativePublishedDate {
	color: rgb(111, 111, 111); text-decoration: none;
}
.gs-publishedDate {
	color: rgb(111, 111, 111); text-decoration: none;
}
.gs-result a.gs-clusterUrl {
	color: rgb(0, 128, 0); text-decoration: underline; cursor: pointer;
}
.gs-result .gs-clusterUrl {
	color: rgb(0, 128, 0); text-decoration: underline; cursor: pointer;
}
.gs-newsResult .gs-publisher {
	color: rgb(111, 111, 111); text-decoration: none; display: inline;
}
.gs-newsResult .gs-relativePublishedDate {
	margin-left: 4px; display: inline;
}
.gs-newsResult .gs-publishedDate {
	margin-left: 4px; display: inline;
}
.gs-blogResult .gs-relativePublishedDate {
	display: none;
}
.gs-newsResult .gs-relativePublishedDate {
	display: none;
}
.gsc-blogResult .gs-blogResult .gs-publishedDate {
	display: none;
}
.gsc-newsResult .gs-newsResult .gs-publishedDate {
	display: none;
}
.gsc-blogResult .gs-blogResult .gs-relativePublishedDate {
	display: inline;
}
.gsc-newsResult .gs-newsResult .gs-relativePublishedDate {
	display: inline;
}
.gs-newsResult .gs-location {
	color: rgb(111, 111, 111); text-decoration: none; display: inline;
}
.gs-promotion .gs-title {
	text-decoration: none;
}
.gs-promotion .gs-title * {
	text-decoration: none;
}
.gs-promotion a.gs-title {
	text-decoration: underline;
}
.gs-promotion a.gs-title * {
	text-decoration: underline;
}
.gs-title .gs-promotion-title-right {
	color: rgb(0, 0, 0);
}
.gsc-promotion.gsc-result.gsc-webResult {
	background-color: rgb(255, 255, 255);
}
span.gs-fileFormat {
	color: rgb(102, 102, 102); font-size: 12px;
}
span.gs-fileFormatType {
	font-size: 12px;
}
.gs-promotion table {
	margin: 0px; padding: 0px; border: 0px currentColor; border-spacing: 0 0;
}
.gs-promotion table .gs-snippet a span.gs-title {
	font-size: 13px;
}
.gs-promotion table .gs-snippet a span.gs-title * {
	font-size: 13px;
}
.gs-promotion em {
	font-style: normal; font-weight: bold;
}
.gs-promotion .gs-title em {
	color: inherit; text-decoration: inherit;
}
.gs-result img.gs-image {
	border: 1px solid rgb(226, 226, 226); vertical-align: middle;
}
.gs-result img.gs-promotion-image {
	border: 1px solid rgb(226, 226, 226); vertical-align: middle;
}
.gs-result div.gs-phone {
	
}
.gs-result .gs-directions {
	color: rgb(119, 119, 204); font-weight: normal; text-decoration: underline; cursor: pointer;
}
.gs-result .gs-directions * {
	color: rgb(119, 119, 204); font-weight: normal; text-decoration: underline; cursor: pointer;
}
.gs-secondary-link {
	color: rgb(119, 119, 204); font-weight: normal; text-decoration: underline; cursor: pointer;
}
.gs-secondary-link * {
	color: rgb(119, 119, 204); font-weight: normal; text-decoration: underline; cursor: pointer;
}
.gs-result .gs-directions-to-from {
	margin-top: 4px; display: none;
}
.gs-result .gs-directions-to-from .gs-label {
	margin-right: 4px; display: inline;
}
.gs-result .gs-directions-to-from div.gs-secondary-link {
	display: inline;
}
.gs-result .gs-directions-to-from .gs-spacer {
	margin-right: 3px; margin-left: 3px; display: inline;
}
.gs-videoResult a.gs-publisher {
	color: rgb(0, 128, 0); text-decoration: none;
}
.gs-videoResult .gs-publisher {
	color: rgb(0, 128, 0); text-decoration: none;
}
.gs-result a {
	cursor: pointer;
}
.gs-result .gs-address {
	
}
.gs-result .gs-snippet {
	
}
.gsc-loading-fade .gsc-result-info {
	opacity: 0.333;
}
.gsc-loading-fade .gsc-loading-resultsRoot {
	opacity: 0.333;
}
.gsc-loading-resultsRoot {
	opacity: 0.333;
}
.gsc-loading-fade .gsc-loading-refinementsArea {
	opacity: 0.333;
}
.gsc-loading-fade .gsc-adBlock {
	opacity: 0.333;
}
.gsc-loading-fade .gsc-adBlockVertical {
	opacity: 0.333;
}
.gsc-loading-fade .gsc-adBlockNoHeight {
	opacity: 0.333;
}
.gs-no-results-result .gs-snippet {
	margin: 5px; padding: 5px; border: 1px solid rgb(255, 204, 51); background-color: rgb(255, 244, 194);
}
.gs-error-result .gs-snippet {
	margin: 5px; padding: 5px; border: 1px solid rgb(255, 204, 51); background-color: rgb(255, 244, 194);
}
.gs-result .gs-watermark {
	color: rgb(119, 119, 204); font-size: 10px;
}
div.gs-results-attribution {
	text-align: center; margin-bottom: 4px;
}
div.gs-results-attribution {
	color: rgb(103, 103, 103); font-size: 10px; text-decoration: none;
}
div.gs-results-attribution * {
	color: rgb(103, 103, 103); font-size: 10px; text-decoration: none;
}
div.gs-results-attribution a {
	color: rgb(0, 0, 204); cursor: pointer;
}
div.gs-results-attribution a:hover {
	text-decoration: underline;
}
.gs-result .gs-metadata {
	color: rgb(103, 103, 103);
}
.gs-localAd img.gs-ad-marker {
	padding-left: 4px;
}
.gs-webAd img.gs-ad-marker {
	padding-left: 4px;
}
.gs-webResult div.gs-visibleUrl-long {
	overflow: hidden; display: none;
}
.gs-promotion div.gs-visibleUrl-long {
	overflow: hidden; display: none;
}
.gs-webResult div.gs-per-result-labels a.gs-label {
	padding: 3px; color: black; text-decoration: underline; cursor: pointer;
}
.gs-webResult div.gs-per-result-labels a.gs-labelActive.gs-label {
	text-decoration: none; cursor: default;
}
.gs-localAd div.gs-address * {
	color: rgb(103, 103, 103);
}
.gs-localAd div.gs-street {
	display: inline;
}
div.gs-city {
	display: inline;
}
div.gs-region {
	display: inline;
}
div.gs-country {
	display: none;
}
div.gs-infoWindow * {
	font-size: 11px;
}
.gs-videoResult * {
	font-size: 13px;
}
.gs-videoResult td div.gs-image-box {
	width: 110px; height: 78px;
}
.gs-videoResult td div.gs-text-box {
	margin-left: 4px; vertical-align: top;
}
div.gs-book-image-box td {
	vertical-align: top;
}
.gs-bookResult td {
	vertical-align: top;
}
div.gs-book-image-box {
	position: static;
}
div.gs-book-image-box div {
	position: static;
}
div.gs-book-image-box {
	width: 75px; height: 90px;
}
.gs-bookResult td div.gs-text-box {
	margin-left: 4px; vertical-align: top;
}
div.gs-book-image-box img {
	border: currentColor; border-spacing: 0 0;
}
div.gs-book-image-box div.gs-row-1 {
	line-height: 7px;
}
div.gs-book-image-box img.gs-pages {
	width: 45px; height: 7px;
}
div.gs-book-image-box img.gs-page-edge {
	width: 11px; height: 7px;
}
div.gs-book-image-box div.gs-row-2 {
	
}
div.gs-book-image-box img.gs-image {
	border: 1px solid rgb(160, 160, 160); height: 80px;
}
.gs-bookResult .gs-author {
	color: rgb(111, 111, 111); display: inline;
}
.gs-bookResult .gs-publishedDate {
	display: inline;
}
.gs-bookResult .gs-pageCount {
	color: rgb(111, 111, 111); margin-left: 4px; display: inline;
}
.gs-bookResult .gs-id {
	
}
.gs-patentResult td {
	vertical-align: top;
}
.gs-patentResult .gs-patent-number {
	display: inline;
}
.gs-patentResult .gs-publishedDate {
	display: inline;
}
.gs-patentResult .gs-author {
	display: inline;
}
.gs-patentResult .gs-image-box {
	padding-right: 8px;
}
.gs-patentResult img.gs-image {
	border: 1px solid rgb(119, 119, 204);
}
.gs-spelling a {
	color: rgb(0, 0, 204); text-decoration: underline; cursor: pointer;
}
.gsc-control-cse::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
.gs-bidi-start-align {
	text-align: left;
}
.gs-bidi-end-align {
	text-align: right;
}
.gsc-control-cse-zh_CN .gs-snippet b {
	color: rgb(204, 0, 51); font-style: normal; font-weight: normal;
}
.gsc-control-cse-zh_CN .gs-promotion em {
	color: rgb(204, 0, 51); font-style: normal; font-weight: normal;
}
.gsc-control-cse-zh_TW .gs-snippet b {
	color: rgb(204, 0, 51); font-style: normal; font-weight: normal;
}
.gsc-control-cse-zh_TW .gs-promotion em {
	color: rgb(204, 0, 51); font-style: normal; font-weight: normal;
}
.gsc-snippet-metadata {
	color: rgb(118, 118, 118); vertical-align: top;
}
.gsc-role {
	color: rgb(118, 118, 118);
}
.gsc-tel {
	color: rgb(118, 118, 118);
}
.gsc-org {
	color: rgb(118, 118, 118);
}
.gsc-location {
	color: rgb(118, 118, 118);
}
.gsc-rating-bar {
	background: url("/uds/css/cse_snippets_stars.png") no-repeat -65px 0px; margin: 2px 0px 0px; width: 64px; height: 12px; overflow: hidden; vertical-align: top; display: inline-block;
}
.gsc-rating-bar span {
	background: url("/uds/css/cse_snippets_stars.png") no-repeat 0px 0px; padding: 2px 0px 0px; height: 12px; vertical-align: top; display: inline-block;
}
.gsc-review-agregate-first-line {
	margin: 0px 40px 0px 0px; padding: 6px 0px;
}
.gsc-review-agregate-odd-lines {
	margin: 0px 40px 0px 0px; padding: 6px 0px; border-top-color: rgb(235, 235, 235); border-top-width: 1px; border-top-style: solid;
}
.gsc-review-agregate-even-lines {
	margin: 0px 40px 0px 0px; padding: 6px 0px; border-top-color: rgb(235, 235, 235); border-top-width: 1px; border-top-style: solid;
}
.gsc-reviewer {
	color: rgb(0, 0, 204);
}
.gsc-author {
	color: rgb(0, 0, 204);
}
.gsc-table-result {
	border-spacing: 0px;
}
.gs-promotion-table {
	border-spacing: 0px;
}
.gsc-table-cell-thumbnail {
	vertical-align: top;
}
.gs-promotion-image-cell {
	vertical-align: top;
}
.gsc-table-cell-snippet-close {
	width: 100%; vertical-align: top;
}
.gs-promotion-text-cell {
	width: 100%; vertical-align: top;
}
.gsc-table-cell-snippet-open {
	width: 100%; vertical-align: top;
}
.gsc-preview-reviews li {
	list-style: none; width: 90%;
}
.gsc-zippy {
	background-position: -19px -5px; margin: 2px 8px 0px 0px; top: -6px; width: 14px; height: 14px; overflow: hidden; float: right; position: relative;
}
.gsc-table-cell-snippet-close .gsc-preview-reviews {
	display: none;
}
.gsc-table-cell-snippet-close .gsc-zippy {
	background: url("/uds/css/plus_icons.png") no-repeat -19px -5px;
}
.gsc-table-cell-snippet-open .gsc-zippy {
	background: url("/uds/css/minus_icons.png") no-repeat -19px -5px;
}
.gsc-collapsable {
	cursor: pointer;
}
html > body .gsc-inline-block {
	display: inline-block;
}
.gsc-inline-block {
	display: inline-block; position: relative;
}
* html .gsc-inline-block {
	display: inline;
}
*:first-child + html .gsc-inline-block {
	display: inline;
}
.gsc-url-top {
	display: none;
}
.gsc-url-bottom {
	display: block;
}
.gsc-thumbnail-left {
	display: block;
}
.gsc-thumbnail-inside {
	display: none;
}
.gsc-label-result-main-box-visible {
	background: white; margin: auto; padding: 30px; border: 1px solid rgba(0, 0, 0, 0.333); left: 35%; top: 30%; width: 28%; display: block; border-collapse: separate; position: fixed !important; z-index: 100003; opacity: 1; box-shadow: 0px 3px 10px rgba(34,25,25,0.4); -webkit-box-shadow: 0px 3px 10px rgba(34, 25, 25, 0.4); -moz-box-shadow: 0px 3px 10px rgba(34, 25, 25, 0.4); -ms-box-shadow: 0px 3px 10px rgba(34, 25, 25, 0.4); -o-box-shadow: 0px 3px 10px rgba(34, 25, 25, 0.4);
}
.gsc-label-result-main-box-invisible {
	transition:0.25s linear; display: none; opacity: 0; -moz-transition: all 0.25s linear; -o-transition: all 0.25s linear; -webkit-transition: all 0.25s linear;
}
.gsc-label-result-url {
	width: 100%; color: rgb(0, 128, 0); overflow: hidden; padding-bottom: 5px; font-size: 13px; margin-top: 5px; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.gsc-label-result-url-title {
	color: rgb(0, 0, 204); overflow: hidden; font-size: 15px; text-decoration: underline; margin-top: 10px; display: block; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.gsc-label-result-url-heading {
	margin-bottom: 15px;
}
.gsc-label-result-labels {
	color: rgb(0, 0, 0); font-size: 13px; vertical-align: text-top;
}
.gsc-label-checkbox {
	
}
.gsc-label-box {
	margin-top: 5px;
}
.gsc-labels-box {
	margin-top: 15px;
}
.gsc-label-result-buttons {
	margin-top: 20px;
}
.gsc-labels-no-label-div-visible {
	margin-top: 20px;
}
.gsc-labels-no-label-div-invisible {
	display: none;
}
.gsc-labels-label-div-visible {
	margin-top: 10px;
}
.gsc-labels-label-div-invisible {
	display: none;
}
.gsc-label-result-form-label {
	color: rgb(0, 0, 0); font-size: 13px; margin-right: 20px; margin-left: 2px; vertical-align: text-top;
}
.gsc-label-result-form-div {
	margin-top: 5px;
}
input.gsc-label-result-label-prefix-visible {
	width: 90%; height: 20px; margin-top: 10px;
}
input.gsc-label-result-label-prefix-invisible {
	display: none;
}
.gsc-label-result-label-prefix-error {
	color: red; margin-top: 10px;
}
.gsc-label-result-label-prefix-error-invisible {
	display: none;
}
.gsc-label-result-heading {
	color: black; font-size: 17px;
}
.gsc-result-label-button {
	padding: 0px 8px; border-radius: 2px; border: 1px solid rgba(0, 0, 0, 0.1); width: 72px; height: 29px; text-align: center; color: rgb(68, 68, 68); font-weight: bold; margin-right: 10px; background-color: rgb(245, 245, 245);
}
.gsc-result-label-save-button {
	color: rgb(255, 255, 255); background-image: -ms-linear-gradient(rgb(77, 144, 254), rgb(53, 122, 232));
}
.gsc-add-label-error {
	color: red; padding-top: 20px;
}
.gsc-add-label-error-invisible {
	display: none;
}
.gsc-label-results-close-btn-visible {
	display: block; opacity: 0.7;
}
.gsc-label-result-saving-popup {
	padding: 6px 16px; border-radius: 2px; border: 1px solid rgb(240, 195, 109); transition:opacity 218ms; left: 45%; top: 10%; height: 14px; color: rgb(51, 51, 51); font-size: 13px; position: fixed !important; opacity: 1; background-color: rgb(249, 237, 190); -moz-transition: opacity 218ms; -o-transition: opacity 218ms; -webkit-transition: opacity 218ms;
}
.gsc-label-result-saving-popup-invisible {
	display: none;
}
.gsc-richsnippet-popup-box {
	background: white; margin: auto; padding: 30px 30px 10px; border: currentColor; left: 25%; top: 15%; width: 50%; height: 65%; display: block; border-collapse: separate; position: fixed !important; z-index: 100003; -ms-overflow-x: hidden; -ms-overflow-y: auto; opacity: 1; box-shadow: 0px 3px 10px rgba(34,25,25,0.4); -webkit-box-shadow: 0px 3px 10px rgba(34, 25, 25, 0.4); -moz-box-shadow: 0px 3px 10px rgba(34, 25, 25, 0.4); -ms-box-shadow: 0px 3px 10px rgba(34, 25, 25, 0.4); -o-box-shadow: 0px 3px 10px rgba(34, 25, 25, 0.4);
}
.gsc-richsnippet-popup-box-invisible {
	display: none;
}
.gsc-richsnippet-showsnippet-label {
	color: rgb(0, 0, 153); font-size: 13px; text-decoration: underline; cursor: pointer;
}
.gsc-richsnippet-individual-snippet-box {
	padding: 15px; border: 1px solid rgb(235, 235, 235); margin-bottom: 20px;
}
.gsc-richsnippet-individual-snippet-key {
	padding: 1px 0px 6px; color: rgb(0, 0, 153); font-size: 14px;
}
.gsc-richsnippet-individual-snippet-data {
	
}
.gsc-richsnippet-popup-box-title {
	padding-bottom: 20px; font-size: 15px;
}
.gsc-richsnippet-popup-box-title-text {
	color: rgb(64, 64, 64); display: inline;
}
.gsc-richsnippet-popup-box-title-url {
	color: black; font-weight: bold; display: inline;
}
.gsc-richsnippet-individual-snippet-keyvalue {
	
}
.gsc-richsnippet-individual-snippet-keyelem {
	font-weight: bold; display: inline;
}
.gsc-richsnippet-individual-snippet-valueelem {
	width: 80%; height: 1.1em; overflow: hidden; display: inline-block; -ms-text-overflow: ellipsis;
}
.gsc-richsnippet-popup-close-button {
	background-position: -140px -230px; top: 20px; width: 12px; height: 12px; right: 20px; float: right; cursor: pointer; background-image: url("//www.google.com/images/nav_logo114.png"); background-repeat: no-repeat;
}
.gsc-richsnippet-popup-box-contents {
	height: 88%; -ms-overflow-x: hidden; -ms-overflow-y: auto;
}
