html {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
body {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
div {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
span {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
applet {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
object {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
iframe {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
h1 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
h2 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
h3 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
h4 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
h5 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
h6 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
p {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
blockquote {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
pre {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
a {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
abbr {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
acronym {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
address {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
big {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
cite {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
code {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
del {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
dfn {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
em {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
font {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
img {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
ins {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
kbd {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
q {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
s {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
samp {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
small {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
strike {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
strong {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
sub {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
sup {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
tt {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
var {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
b {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
u {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
i {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
center {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
dl {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
dt {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
dd {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
ol {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
ul {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
li {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
fieldset {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
form {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
label {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
legend {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
table {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
caption {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
tbody {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
tfoot {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
thead {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
tr {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
th {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
td {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
* {
	margin: 0px; padding: 0px;
}
html {
	width: 100%; color: rgb(64, 64, 56); line-height: 18px; font-family: Arial; font-size: 13px; position: relative; min-height: 100%; background-color: rgb(255, 255, 255);
}
body {
	width: 100%; color: rgb(64, 64, 56); line-height: 18px; font-family: Arial; font-size: 13px; position: relative; min-height: 100%; background-color: rgb(255, 255, 255);
}
strong {
	color: rgb(64, 64, 64); font-weight: bolder;
}
a strong {
	color: inherit;
}
em {
	color: rgb(80, 80, 80); font-style: italic;
}
small {
	font-size: 0.9em !important;
}
div.container {
	margin: 0px auto; width: 1000px; overflow: visible; border-top-color: rgb(244, 244, 244); border-bottom-color: rgb(244, 244, 244); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; z-index: 5; background-color: rgb(255, 255, 255);
}
* html div.container {
	position: relative;
}
div.header {
	left: 0px; top: 0px; width: 100%; height: 120px; overflow: visible; position: absolute; min-width: 1000px; background-color: rgb(244, 244, 244);
}
div.header_inner {
	margin: 3px auto; width: 1000px; height: 115px; overflow: hidden; position: relative;
}
div.footer_outer {
	width: 100%; height: 55px; bottom: 0px; clear: both; position: absolute; z-index: 1; background-color: rgb(244, 244, 244);
}
div.footer {
	margin: 0px; padding: 0px; width: 1000px; height: 100px; bottom: 0px; color: rgb(153, 153, 153); clear: both; font-family: Tahoma; font-size: 11px; position: absolute; z-index: 2; background-color: rgb(244, 244, 244);
}
* html div.footer {
	height: 105px; bottom: -20px; position: absolute;
}
div#homepage_footer {
	height: 134px;
}
div.content {
	margin: 125px 0px 0px; padding: 0px 200px 0px 240px; overflow: hidden !important; position: relative; min-height: 100%; background-color: rgb(255, 255, 255);
}
*:first-child + html div.content {
	padding: 0px 205px 0px 245px;
}
div.content .column {
	height: 100%; overflow: hidden; float: left; position: relative; min-height: 100%;
}
*:first-child + html div.content .column {
	height: auto;
}
#main {
	margin: 0px 0px 40px; padding: 0px 0px 100px; top: 24px; width: 100%; height: 100%; min-height: 100%; background-color: rgb(255, 255, 255);
}
#left {
	margin: 0px 0px 0px -100%; padding: 3px 0px 115px; width: 220px; right: 240px; background-color: rgb(255, 255, 255);
}
#right {
	padding: 0px 0px 115px; width: 180px; margin-right: -100%; margin-left: 20px; background-color: rgb(255, 255, 255);
}
* html #main {
	padding: 0px 0px 32000px; overflow: visible; margin-bottom: -31975px;
}
* html #left {
	padding: 0px 0px 32000px; overflow: hidden !important; margin-bottom: -31975px; margin-left: -575px;
}
* html #right {
	padding: 0px 0px 32000px; overflow: hidden !important; margin-bottom: -31975px; margin-left: 5px;
}
*:first-child + html div.content div#main {
	padding: 0px 0px 32000px; overflow: visible; margin-bottom: -31885px;
}
*:first-child + html #left {
	padding: 0px 0px 32000px; margin-bottom: -31885px; margin-left: -555px;
}
*:first-child + html #right {
	padding: 0px 0px 32000px; margin-bottom: -31885px;
}
html:first-child div.content div#main {
	padding-bottom: 30px;
}
html:first-child #left {
	padding-bottom: 30px;
}
html:first-child #right {
	padding-bottom: 30px;
}
div.logocontainer {
	margin: 3px 0px 0px; padding: 0px; width: 240px; height: 110px;
}
div.logocontainer a {
	color: rgb(244, 244, 244);
}
* html div.logocontainer {
	margin: 0px 0px 0px -13px;
}
span.logo {
	background: url("../images/logo.png") no-repeat; height: 110px; display: block;
}
div.topmenu {
	left: 240px; top: 15px; width: 770px; height: 60px; position: absolute;
}
*:first-child + html div.topmenu {
	left: 245px;
}
* html div.topmenu {
	left: 225px;
}
div.topmenu ul {
	list-style: none; margin: 0px; padding: 0px; width: 100%;
}
div.topmenu ul li {
	margin: 0px 15px 5px 0px; padding: 0px; width: 90px; height: 30px; text-align: left; display: inline-block; -ms-zoom: 1;
}
div.topmenu ul li a:link {
	margin: 0px; padding: 15px 0px 0px; width: 90px; height: 20px; color: rgb(144, 144, 152); font-family: Tahoma; font-size: 12px; font-weight: bolder; text-decoration: none; vertical-align: baseline; border-bottom-color: rgb(220, 220, 220); border-bottom-width: 1px; border-bottom-style: solid; display: inline-block; white-space: nowrap; -ms-zoom: 1;
}
div.topmenu ul li a:visited {
	margin: 0px; padding: 15px 0px 0px; width: 90px; height: 20px; color: rgb(144, 144, 152); font-family: Tahoma; font-size: 12px; font-weight: bolder; text-decoration: none; vertical-align: baseline; border-bottom-color: rgb(220, 220, 220); border-bottom-width: 1px; border-bottom-style: solid; display: inline-block; white-space: nowrap; -ms-zoom: 1;
}
div.topmenu ul li a:hover {
	color: rgb(0, 0, 0); border-bottom-color: rgb(0, 0, 0); border-bottom-width: 1px; border-bottom-style: solid;
}
#rightheader {
	padding: 7px 0px 8px 10px; top: 0px; right: 4px; position: absolute;
}
#rightheader #languages {
	margin: 0px; padding: 0px 3px 0px 0px; text-align: right; border-bottom-color: rgb(220, 220, 220); border-bottom-width: 1px; border-bottom-style: solid;
}
#rightheader #languages span {
	height: 6px; line-height: 15px; padding-bottom: 0px; font-size: 10px; vertical-align: top; display: inline-block;
}
#rightheader #languages span.label {
	padding-left: 4px;
}
#rightheader #languages img {
	padding: 2px; border: 1px solid rgb(244, 244, 244); vertical-align: bottom; display: inline-block;
}
#rightheader #languages img.active {
	padding: 3px 3px 2px; border-top-color: rgb(220, 220, 220); border-right-color: rgb(220, 220, 220); border-bottom-color: rgb(244, 244, 244) !important; border-left-color: rgb(220, 220, 220); border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px !important; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid !important; border-left-style: solid; background-color: rgb(250, 250, 250);
}
#rightheader span {
	color: rgb(144, 144, 144); font-family: Verdana; font-size: 11px;
}
#rightheader a {
	margin: 0px; padding: 0px;
}
* html #rightheader {
	padding: 3px 5px 2px 0px;
}
div.footer div.navigation {
	text-align: center;
}
div.footer div.navigation ul {
	margin: 0px; padding: 0px 0px 5px;
}
div.footer div.navigation ul li a {
	color: rgb(144, 144, 144); font-family: Tahoma; font-size: 11px !important; font-weight: bolder; text-decoration: none;
}
div.footer div.navigation ul li a:visited {
	color: rgb(144, 144, 144); text-decoration: none;
}
div.footer div.navigation ul li .active a {
	color: rgb(0, 0, 0); text-decoration: none;
}
div.footer div.navigation ul li a:hover {
	color: rgb(0, 0, 0); text-decoration: none;
}
div.footer ul li {
	padding: 5px 9px 0px; display: inline-block; -ms-zoom: 1;
}
div.footer ul li img {
	margin-top: 3px;
}
div.footer div.navigation ul.translation_links {
	margin-top: 0px;
}
div.footer div.navigation ul.translation_links li {
	padding: 5px 10px 3px; margin-right: -5px; border-top-color: rgb(233, 233, 233); border-bottom-color: rgb(233, 233, 233); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; background-color: rgb(250, 250, 250);
}
div.footer div.navigation ul.translation_links li span {
	color: rgb(112, 112, 112); padding-left: 2px; font-family: Arial; font-size: 10px !important; font-style: italic; font-weight: bolder; vertical-align: top; display: inline-block; -ms-zoom: 1;
}
div.footer div.navigation ul.translation_links li a {
	padding-left: 2px; font-family: Arial; font-size: 10px !important; font-style: italic; font-weight: normal; vertical-align: top; display: inline-block; -ms-zoom: 1;
}
div.footer div.navigation ul.translation_links li a:hover {
	color: rgb(0, 0, 0); border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
div.footer div.legal {
	background: rgb(244, 244, 244); padding: 7px 10px 5px; left: 0px; width: 980px; height: 40px; text-align: center; bottom: 0px; color: rgb(112, 112, 112); line-height: 11px; clear: both; font-family: Arial; font-size: 9px; position: absolute; z-index: 3;
}
#left div {
	margin: 0px 0px 35px; padding: 0px; width: 220px; overflow: hidden;
}
#left div div {
	margin: 5px 0px; padding: 0px;
}
#left span {
	color: rgb(0, 0, 0); font-family: Arial; font-size: 12px; font-weight: normal;
}
#left a:link {
	color: rgb(128, 128, 136); font-family: Arial; font-size: 12px; font-weight: bolder; text-decoration: none;
}
#left a:visited {
	color: rgb(160, 160, 168); text-decoration: none;
}
#left a:hover {
	color: rgb(0, 0, 0); text-decoration: underline;
}
#left div h3 {
	margin: 0px 0px 6px; padding: 4px 10px 4px 6px; color: rgb(68, 68, 64); font-family: Verdana; font-size: 12px; font-weight: bolder; border-top-color: rgb(249, 249, 249); border-bottom-color: rgb(233, 233, 233); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; background-color: rgb(244, 244, 244);
}
#left ul.navigation {
	margin: 0px; padding: 0px; background-color: transparent;
}
#left ul.navigation li {
	margin: 0px; padding: 0px; display: block; list-style-type: none; background-color: transparent;
}
#left ul.navigation li a {
	margin: 0px; padding: 5px 0px 5px 5px; font-family: Tahoma; font-size: 12px; font-style: normal; font-weight: bolder; border-bottom-color: rgb(233, 233, 233); border-bottom-width: 1px; border-bottom-style: solid; display: block; white-space: normal; -ms-word-wrap: break-word;
}
#left ul.navigation li span {
	margin: 0px; padding: 5px 0px 5px 5px; font-family: Tahoma; font-size: 12px; font-style: normal; font-weight: bolder; border-bottom-color: rgb(233, 233, 233); border-bottom-width: 1px; border-bottom-style: solid; display: block; white-space: normal; -ms-word-wrap: break-word;
}
#left ul.navigation li a:link {
	color: rgb(128, 128, 136); text-decoration: none;
}
#left ul.navigation li a:visited {
	color: rgb(128, 128, 136); text-decoration: none;
}
#left ul.navigation li a:hover {
	color: rgb(0, 0, 0); border-bottom-color: rgb(68, 68, 64); border-bottom-width: 1px; border-bottom-style: solid;
}
#left ul.navigation li span {
	color: rgb(85, 85, 85); border-bottom-color: rgb(136, 136, 128); border-bottom-width: 1px; border-bottom-style: solid; background-color: rgb(250, 250, 250);
}
#left ul.navigation li.expanded li span {
	color: rgb(85, 85, 85); border-bottom-color: rgb(187, 187, 176); border-bottom-width: 1px; border-bottom-style: solid; background-color: rgb(250, 250, 250);
}
#left ul.navlevel1 {
	margin: 0px !important; padding: 0px 0px 0px 15px !important; border: 0px currentColor;
}
#left ul.navlevel1 ul {
	padding: 0px 0px 0px 15px !important;
}
#left ul.navlevel1 li.expanded {
	border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
#left ul.navlevel1 li a {
	padding: 3px 0px 2px 10px; font-family: Arial !important; border-bottom-color: rgb(240, 240, 240); border-bottom-width: 1px; border-bottom-style: solid;
}
#left ul.navlevel1 li span {
	padding: 3px 0px 2px 10px; font-family: Arial !important; border-bottom-color: rgb(240, 240, 240); border-bottom-width: 1px; border-bottom-style: solid;
}
#left ul.navlevel1 li ul li a {
	background-color: transparent;
}
#left ul.navlevel1 li ul li span {
	background-color: transparent;
}
#left div#current_versions ul {
	margin: 0px 0px 0px 4px; padding: 0px 0px 0px 20px; list-style-type: circle;
}
#left div#current_versions ul li {
	margin-bottom: 3px;
}
#left div#current_versions ul li span {
	color: rgb(32, 32, 32); padding-bottom: 1px; padding-left: 15px; font-family: Consolas,Courier New,monospace; font-size: 11px;
}
#left div.subscribe {
	margin: -5px 0px 0px; padding: 0px;
}
#left div.subscribe ul {
	margin: 0px; padding: 0px; list-style-type: none;
}
#left div.subscribe ul li {
	background: url("../images/feed.gif") no-repeat 7px 5px !important; padding: 0px 0px 5px 32px !important; vertical-align: middle;
}
#left div.subscribe ul li a {
	line-height: 12px !important; display: inline-block;
}
#left div.extra {
	margin: 30px 0px 0px; padding: 0px;
}
#left div.extra ul {
	margin: 0px 0px 0px 4px; padding: 0px 0px 0px 20px; list-style-type: circle;
}
#left div.extra ul li {
	margin-bottom: 3px;
}
#left div.extra ul li span {
	padding-left: 10px; font-size: 10px;
}
#right div {
	margin: 0px 0px 35px; padding: 0px; width: 180px; overflow: hidden;
}
#right p {
	margin: 0px 0px 9px;
}
#right span {
	color: rgb(0, 0, 0); font-family: Arial; font-size: 12px; font-weight: normal;
}
#right a:link {
	color: rgb(128, 128, 136); font-family: Arial; font-size: 12px; font-weight: bolder; text-decoration: none;
}
#right a:visited {
	color: rgb(160, 160, 168); text-decoration: none;
}
#right a:hover {
	color: rgb(0, 0, 0); text-decoration: underline;
}
#right div h3 {
	margin: 0px 0px 6px; padding: 4px 10px 4px 6px; color: rgb(68, 68, 64); font-family: Verdana; font-size: 12px; font-weight: bolder; border-top-color: rgb(249, 249, 249); border-bottom-color: rgb(233, 233, 233); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; background-color: rgb(244, 244, 244);
}
#right div.references_movie {
	margin: 6px 20px 45px 0px; padding: 0px; width: 180px !important; float: none;
}
#right div.references_movie object {
	padding-bottom: 0px !important;
}
#right div.references_movie a {
	margin: auto; padding: 0px 10px 3px; width: 160px; text-align: center; color: rgb(128, 128, 136); font-family: Tahoma; font-style: normal; font-weight: bolder; text-decoration: none; display: block;
}
div.references_movie span {
	margin: auto; padding: 0px 10px 3px; width: 160px; text-align: center; color: rgb(128, 128, 136); font-family: Tahoma; font-style: normal; font-weight: bolder; text-decoration: none; display: block;
}
#right div#references_movie_container {
	margin: 0px; padding: 0px;
}
#right div#references_movie_container a {
	margin: 0px; padding: 0px; border-bottom-color: currentColor !important; border-bottom-width: medium !important; border-bottom-style: none !important; display: inline;
}
#right div.references_movie span {
	color: rgb(85, 85, 92); font-family: Tahoma; font-size: 12px; font-weight: bolder; background-color: rgb(255, 255, 255);
}
#right div.references_movie a:visited {
	color: rgb(128, 128, 136) !important; display: block;
}
#right div.references_movie a:hover {
	color: rgb(0, 0, 0) !important; text-decoration: underline;
}
#right div.action {
	margin: -15px 0px 15px; width: 180px; vertical-align: middle;
}
#right div.action a {
	padding: 10px 0px 7px 5px; width: 100%; text-align: left; font-family: Tahoma; font-weight: bolder; border-bottom-color: rgb(233, 233, 233); border-bottom-width: 1px; border-bottom-style: solid; display: inline-block; -ms-zoom: 1;
}
#right div.action span {
	padding: 10px 0px 7px 5px; width: 100%; text-align: left; font-family: Tahoma; font-weight: bolder; border-bottom-color: rgb(233, 233, 233); border-bottom-width: 1px; border-bottom-style: solid; display: inline-block; -ms-zoom: 1;
}
#right div.action a:link {
	text-decoration: none;
}
#right div.action a:visited {
	text-decoration: none;
}
#right div.action a:hover {
	border-bottom-color: rgb(0, 0, 0); border-bottom-width: 1px; border-bottom-style: solid;
}
#right div.action span {
	border-bottom-color: rgb(136, 136, 128); border-bottom-width: 1px; border-bottom-style: solid; background-color: rgb(255, 255, 255);
}
#right div.action a span {
	margin: -1px 0px 0px; padding: 0px; border: 0px currentColor; width: 135px !important; text-align: left; color: inherit; float: right; display: block; background-color: rgb(255, 255, 255);
}
#right div.action span span {
	margin: -1px 0px 0px; padding: 0px; border: 0px currentColor; width: 135px !important; text-align: left; color: inherit; float: right; display: block; background-color: rgb(255, 255, 255);
}
#right div.action a span {
	color: rgb(128, 128, 136);
}
#right div.action a:hover span {
	color: rgb(0, 0, 0);
}
#right div.action span span {
	color: rgb(64, 64, 72); background-color: rgb(255, 255, 255);
}
#right div.action img {
	margin: 0px 10px 0px 0px; float: left;
}
*:first-child + html #right div.action a span {
	width: 130px;
}
#right div.action span span {
	width: 130px;
}
#right div.action strong {
	color: inherit;
}
#right div.action strong.highlight {
	color: inherit; text-transform: uppercase;
}
#right div#crash_course {
	margin: 40px 0px 35px;
}
#right div#crash_course h3 {
	width: 172px;
}
#right div#crash_course img {
	margin-top: -10px; float: right; -ms-zoom: 1;
}
#right div#crash_course ul {
	margin: 0px; padding: 0px 0px 0px 6px; list-style-type: none;
}
#right div#crash_course ul li {
	background: url("../images/dev.png") no-repeat 0px 1px; padding: 0px 0px 6px 21px;
}
#right div#image_examples h3 {
	margin-bottom: 12px;
}
#right div#image_examples img {
	padding: 0px 0px 6px 1px;
}
#right div#crash_course span {
	color: rgb(72, 72, 72); font-weight: bolder;
}
#right div#sound_examples div.placeholder {
	margin: 0px; padding: 0px; display: none; visibility: hidden;
}
#right div#sound_examples a.sample {
	background: url("../images/sound.png") no-repeat 6px 1px !important; margin: 0px; padding: 3px 2px 6px 30px; width: 52px; display: block;
}
#right div.related {
	background: url("../images/alphabet/i5.png") no-repeat 0px 0px !important; padding: 40px 0px 0px;
}
#right div.related ul li span {
	color: rgb(85, 85, 85);
}
#main p {
	margin: 0px 0px 9px;
}
#main h1 {
	margin: 6px 0px 18px; color: rgb(32, 32, 32); line-height: 24px; font-family: Tahoma; font-size: 21px; font-weight: normal;
}
#main h1 small {
	font-size: 15px !important;
}
#main h2 {
	margin: 36px 0px 9px; color: rgb(68, 68, 68); line-height: 21px; clear: both; font-family: Verdana; font-size: 16px;
}
#main h1 + h2 {
	margin: 30px 0px 9px;
}
#main .tabstrip + h2 {
	margin: 18px 0px 9px;
}
#main h3 {
	margin: 24px 0px 6px; color: rgb(64, 64, 64); font-family: Tahoma; font-size: 14px; font-style: normal;
}
#main h2 + h3 {
	margin: 21px 0px 6px;
}
#main h3 a {
	font-size: inherit !important;
}
#main h4 {
	margin: 18px 0px 6px; color: rgb(59, 59, 59); font-family: Verdana; font-size: 12px;
}
#main h5 {
	margin: 18px 0px 6px; color: rgb(52, 52, 52); font-family: Tahoma; font-size: 11px;
}
#main a:link {
	color: rgb(72, 114, 170); font-family: Arial; font-size: 12px; font-weight: bolder; text-decoration: none;
}
#main a:visited {
	color: rgb(112, 137, 176); text-decoration: none;
}
#main a:hover {
	color: rgb(40, 114, 204); text-decoration: underline;
}
#main a[target^='_blank'] {
	background: url("../images/remote.gif") no-repeat right 5px !important; padding-right: 10px;
}
ul {
	margin: 0px 0px 9px; padding: 0px 12px 0px 24px; list-style-type: none;
}
* html ul {
	padding: 0px 12px 0px 28px;
}
*:first-child + html ul {
	padding-left: 28px;
}
div.content ul {
	list-style-type: disc;
}
ol {
	margin: 0px 0px 9px; padding: 0px 0px 0px 27px; list-style-type: decimal;
}
ol li ol {
	list-style-type: lower-latin;
}
ol li ol li ol {
	list-style-type: lower-roman;
}
* html ol {
	padding-left: 31px;
}
*:first-child + html ol {
	padding-left: 31px;
}
li {
	margin: 0px;
}
#main li p {
	margin: 0px 0px 6px;
}
li ul {
	margin: 0px;
}
li ol {
	margin: 0px;
}
td ul {
	margin: 0px;
}
td ol {
	margin: 0px;
}
ul.continued {
	margin: -9px 0px 9px;
}
ol.continued {
	margin: -9px 0px 9px;
}
ul.checked {
	padding-left: 6px; list-style-type: none !important;
}
ul.checked li {
	background: url("../images/checked.png") no-repeat 3px 3px; padding-left: 21px;
}
ol.sitemap {
	padding: 0px 0px 0px 24px;
}
ul.sitemap {
	padding: 0px 0px 0px 24px;
}
ol.sitemap li {
	margin: 0px; padding: 0px;
}
ul.sitemap li {
	margin: 0px; padding: 0px;
}
ol.sitemap li span {
	margin: 0px; display: block;
}
ul.sitemap li span {
	margin: 0px; display: block;
}
ul.horizontal {
	margin: 0px; padding: 0px 0px 0px 9px; clear: both; list-style-type: none;
}
ul.horizontal li {
	margin: 0px; padding: 0px 0px 0px 18px; display: inline-block;
}
ul.block {
	margin: -6px 0px 9px;
}
ol.block {
	margin: -6px 0px 9px;
}
h3 + ul.block {
	margin-top: 0px;
}
h3 + ol.block {
	margin-top: 0px;
}
ul.block li {
	padding: 0px 0px 3px;
}
ol.block li {
	padding: 0px 0px 3px;
}
div#main blockquote {
	margin: 0px 0px 9px; color: rgb(80, 80, 80); font-style: italic;
}
p.quotesource {
	margin: 0px; padding: 0px 0px 0px 18px; text-align: left; color: rgb(64, 64, 64); font-weight: bolder;
}
div#main p.note {
	margin: 0px; color: rgb(112, 80, 80); line-height: 12px; font-size: 12px;
}
form {
	margin: 0px; padding: 0px 0px 9px;
}
fieldset {
	margin: 0px 0px 6px; padding: 0px 9px 6px; border: 1px solid rgb(244, 244, 244);
}
legend {
	padding: 0px 6px; color: rgb(153, 153, 153); font-family: Verdana; font-size: 11px; vertical-align: top;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
#main td {
	padding: 3px;
}
#main table.visible_grid {
	margin: 12px 0px 9px; clear: both;
}
#main table.visible_grid td {
	padding: 3px 6px; border: 1px solid rgb(240, 240, 240);
}
#main table.visible_grid th {
	padding: 3px 6px; border: 1px solid rgb(240, 240, 240); font-family: Verdana; font-size: 11px; vertical-align: middle; background-color: rgb(247, 247, 247);
}
#main table.visible_grid p.note {
	color: rgb(153, 153, 153);
}
#main table td.centered {
	padding: 3px 6px; text-align: center; vertical-align: middle;
}
#main table.spread {
	width: 100%; clear: both;
}
span.validator {
	padding: 0px 0px 0px 3px; color: red; display: inline; visibility: hidden;
}
span.checked {
	padding: 0px 0px 0px 3px; color: green; font-size: 7px; vertical-align: top; display: none;
}
.inputbox {
	margin: 0px; padding: 1px 0px 1px 3px; border: 1px solid rgb(244, 244, 244); color: rgb(34, 34, 51); font-family: Verdana; font-size: 12px; background-color: rgb(250, 250, 247);
}
radio.inputbox {
	width: 20px;
}
select.inputbox {
	padding: 0px;
}
textarea.inputbox {
	margin: 0px; padding: 0px; width: 530px; overflow: scroll; -ms-overflow-x: hidden; -ms-overflow-y: scroll; wrap: logical;
}
div.button_container {
	margin: -12px 0px 0px; padding: 0px; text-align: right; float: right;
}
input.button {
	padding: 2px 4px; cursor: pointer;
}
.error {
	background-color: rgb(255, 244, 244);
}
#main div.related {
	font-style: italic;
}
div.pagecontrols-top {
	top: 0px; width: 284px; height: 24px; right: 205px; float: right; position: absolute;
}
div.pagecontrols-bottom {
	width: 300px; height: 24px; right: 205px; bottom: 100px; padding-top: 30px; float: right; position: absolute;
}
div.pagecontrols-bottom-homepage {
	width: 300px; height: 24px; right: 220px; bottom: 120px; padding-top: 30px; float: right; position: absolute;
}
.gplus {
	margin-right: 4px; float: right; display: inline-block;
}
.print {
	margin-top: 1px; float: right; display: inline-block;
}
a.ptico_default {
	background: url("../images/print.png") no-repeat 0px 0px !important;
}
@media screen and (-ms-high-contrast:active), all and (-ms-high-contrast:none)
{
a.ptico_default {
	height: 12px; display: inline-block;
}
}
.searchbox {
	margin: 0px; padding: 0px; top: 0px; height: 24px; display: inline-block; position: absolute;
}
#query {
	background-position: left; padding: 0px 2px; border-radius: 3px; border: 1px solid rgb(158, 0, 0); width: 215px; height: 18px; font-size: 12px; background-repeat: no-repeat no-repeat; -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
.searchInactive#query {
	color: rgb(51, 51, 51); background-image: url("https://www.google.com/cse/intl/en/images/google_custom_search_watermark.gif");
}
.searchActive#query {
	color: rgb(51, 51, 51); background-image: none;
}
input.gsc-search-button {
	display: none;
}
.gsc-clear-button {
	display: none;
}
.goog-bubble-content {
	display: none !important;
}
.gc-bubbleDefault {
	display: none !important;
}
.gcsc-branding {
	display: none !important;
}
.gs-no-results-result .gs-snippet {
	margin: 5px; padding: 5px; border: 1px solid rgb(158, 0, 0) !important; background-color: rgb(255, 230, 230) !important;
}
.gs-error-result .gs-snippet {
	margin: 5px; padding: 5px; border: 1px solid rgb(158, 0, 0) !important; background-color: rgb(255, 230, 230) !important;
}
.gsc-thumbnail-inside {
	padding-right: 0px !important; padding-left: 0px !important;
}
.gsc-url-top {
	padding-right: 0px !important; padding-left: 0px !important;
}
code {
	color: rgb(96, 96, 96); font-family: Consolas,Courier New,monospace;
}
span.code {
	color: rgb(96, 96, 96); font-family: Consolas,Courier New,monospace;
}
a:link code {
	color: inherit; font-weight: inherit;
}
a:visited code {
	color: inherit; font-weight: inherit;
}
a:hover code {
	color: inherit; font-weight: inherit;
}
h3 code {
	font-size: 17px;
}
h4 code {
	font-size: 15px;
}
pre {
	margin: 3px 0px 9px; padding: 3px 0px 3px 3px; width: 100%; color: rgb(85, 85, 85); line-height: 14px !important; font-family: Consolas,Courier New,monospace; font-size: 12px; -ms-overflow-x: auto; background-color: rgb(247, 247, 247);
}
li pre {
	margin: 3px 0px 6px;
}
li pre {
	margin: 3px 0px 6px;
}
pre a {
	color: rgb(85, 85, 85) !important; text-decoration: underline;
}
.num.hl {
	color: rgb(51, 51, 51);
}
.esc.hl {
	color: rgb(163, 21, 21);
}
.str.hl {
	color: rgb(160, 64, 64);
}
.pps.hl {
	color: rgb(0, 64, 208);
}
.slc.hl {
	color: rgb(0, 128, 0);
}
.com.hl {
	color: rgb(0, 128, 0);
}
.ppc.hl {
	color: rgb(0, 64, 208);
}
.opt.hl {
	color: rgb(51, 51, 51);
}
.lin.hl {
	color: rgb(43, 145, 175);
}
.kwa.hl {
	color: rgb(0, 64, 208);
}
.kwb.hl {
	color: rgb(0, 128, 128);
}
.kwc.hl {
	color: rgb(43, 145, 175);
}
.kwd.hl {
	color: rgb(51, 51, 51);
}
pre.hl strong {
	background-color: rgb(230, 246, 230);
}
pre strong {
	background-color: rgb(230, 246, 230);
}
code strong {
	background-color: rgb(230, 246, 230);
}
div.bounded {
	border-width: 1px 2px 2px 1px; border-style: solid; border-color: rgb(233, 233, 233); margin: 5px 0px 0px 5px; padding: 9px 6px 0px 9px; color: rgb(72, 72, 72); background-color: rgb(252, 252, 252);
}
div.bounded h3 {
	margin: 0px 0px 9px !important; font-family: Verdana; font-size: 12px !important;
}
div.floater {
	overflow: hidden; font-size: 12px; float: right;
}
div.floater ul {
	margin: -9px 0px 3px; padding-bottom: 9px;
}
div.newsflash {
	width: 225px;
}
div.crash {
	margin: 0px 0px 9px 10px; width: 210px;
}
div.crash h3 {
	margin: 0px 0px 6px !important; font-size: 13px !important;
}
div.unicode_fonts {
	margin: 33px 0px 0px 5px; width: 225px;
}
div.important_note {
	margin: 0px 0px 18px; width: 542px; background-color: rgb(250, 250, 250);
}
div.important_note h3 {
	background: url("../images/exclamation.gif") no-repeat 0px 0px; margin: 0px 0px 9px !important; padding-left: 20px; font-family: Verdana; font-size: 12px !important;
}
strong.deprecated {
	color: rgb(136, 68, 68);
}
strong.current {
	color: rgb(68, 119, 68);
}
div#main div#breadcrumbs {
	margin: -9px 0px 18px; font-size: 11px;
}
div#main p.toplink {
	margin: 0px 0px 9px; padding: 0px; text-align: right; clear: both !important; font-size: 11px;
}
div.helpers {
	margin: 0px -1px 0px 0px; text-align: right; overflow: hidden; display: inline-block;
}
div#helpers_top {
	padding: 0px; top: 12px; right: 2px; position: absolute;
}
div#helpers_bottom {
	margin: 36px 0px 0px; padding: 0px; clear: both; float: right;
}
div.helpers span a {
	color: rgb(128, 128, 136) !important; display: inline-block;
}
div.helpers span a span {
	font-size: 11px !important;
}
a.stbutton {
	padding: 0px 0px 5px 22px !important;
}
a.stico_default {
	background: url("../images/share.gif") no-repeat 0px 0px !important;
}
span.share_icon {
	margin-right: 0px;
}
span.alpha {
	border: currentColor !important; top: -2px; color: rgb(136, 144, 136) !important; padding-left: 5px; font-size: 9px !important; font-weight: normal !important; vertical-align: top; display: inline !important; position: relative; background-color: transparent !important;
}
div.spacer {
	clear: both;
}
.spacerphpalpha {
	clear: both; margin-top: 180px;
}
@media not all, all and (device-aspect-ratio:40 / 71)
{
.spacerphpalpha {
	clear: both; margin-top: 400px;
}
}
.spacerbd2docs {
	clear: both; margin-top: 220px;
}
@media not all, all and (device-aspect-ratio:40 / 71)
{
.spacerbd2docs {
	clear: both; margin-top: 360px;
}
}
.spacerjavaalpha {
	clear: both; margin-top: 220px;
}
@media not all, all and (device-aspect-ratio:40 / 71)
{
.spacerjavaalpha {
	clear: both; margin-top: 360px;
}
}
div.modus_operandi {
	width: 295px; float: left;
}
.download_free {
	background: url("../images/download.png") no-repeat 0px 0px !important; padding: 6px 0px 0px 40px; height: 28px; clear: both; font-weight: normal !important; vertical-align: middle; display: block;
}
.download_free_box {
	background: url("../images/download.png") no-repeat 0px 0px !important; padding: 6px 0px 0px 40px; height: 55px; clear: both; font-weight: normal !important; vertical-align: middle; display: block;
}
div.botdetectbox {
	clear: both; margin-top: 7px; float: left;
}
img.botdetectbox {
	
}
div.captcha_products {
	margin: 3px 0px 6px; padding: 0px; width: 365px; float: right;
}
ul.box li {
	padding: 0px 0px 0px 9px; display: inline-block; -ms-zoom: 1; max-width: 120px;
}
div#main div#captcha_purpose {
	padding: 15px 0px 0px 26px;
}
div#main div#captcha_use {
	margin: 3px 0px 0px 18px; float: right;
}
div#main ul#captcha_applications {
	margin: 0px 0px 9px;
}
ul.references {
	clear: both;
}
img.continent {
	margin: -50px 0px 9px; padding: 0px; float: left;
}
h2.continent {
	padding: 0px 0px 18px 22px;
}
.download_form input {
	width: 240px;
}
.download_form .label_cell {
	margin: 0px; padding: 0px; width: 98px; text-align: right; vertical-align: middle;
}
.download_form .input_cell {
	margin: 0px; padding: 0px; width: 255px; text-align: left; vertical-align: middle;
}
.download_form .note_cell {
	margin: 0px; padding: 0px; width: 159px; text-align: left; vertical-align: top;
}
.download_form .note_cell img {
	margin: 0px; padding: 0px 0px 9px;
}
.download_form select.inputbox {
	width: 245px;
}
html:first-child .download_form select.inputbox {
	width: 243px;
}
#after_download {
	margin: 0px 0px 18px; padding: 0px 6px; border: 1px solid rgb(247, 255, 246); background-color: rgb(247, 255, 246);
}
#after_download h2 {
	margin: 6px 0px 9px;
}
#main .LBD_CaptchaImageDiv a[target^='_blank'] {
	margin: 0px; padding: 0px;
}
.ajaxprogress {
	padding-left: 3px; display: inline; visibility: hidden;
}
div.captcha_images_left {
	margin: 0px 0px 9px; width: 250px; float: left;
}
div.captcha_images_right {
	margin: 0px 0px 9px; width: 250px; float: right;
}
#main table.sound_samples {
	margin: 9px 0px; clear: both;
}
#main table.sound_samples td {
	padding: 0px; width: 110px;
}
#main table.sound_samples td a img {
	margin: 0px; padding: 0px; border: 0px currentColor; float: right;
}
#main table.sound_samples div.placeholder {
	margin: 0px; padding: 0px; display: none; visibility: hidden;
}
#main table.sound_samples a.sample {
	background: url("../images/sound.png") no-repeat 0px 0px !important; margin: 0px; padding: 2px 20px 9px 24px; display: block;
}
table.charset {
	margin: 0px 0px 9px;
}
table.charset td {
	padding: 3px 6px; border: 1px solid rgb(240, 240, 240); vertical-align: middle;
}
table.charset th {
	padding: 3px 6px; border: 1px solid rgb(240, 240, 240); font-family: Verdana; font-size: 11px; background-color: rgb(249, 249, 249);
}
table.charset td.character {
	color: rgb(34, 34, 34); font-size: 16px; min-width: 90px;
}
table.charset td.character span.comment {
	color: rgb(153, 153, 153) !important; padding-left: 10px; font-family: Arial; font-size: 11px; float: right; display: inline-block; white-space: nowrap;
}
table.charset tr.disabled td {
	color: rgb(153, 153, 153);
}
table.pricing {
	margin: 0px 0px 12px; width: 550px; line-height: 14px; border-collapse: collapse;
}
table.pricing th {
	padding: 2px 4px; border: 1px solid rgb(233, 233, 233); text-align: center; color: rgb(85, 85, 85); font-size: 11px; font-weight: bolder; background-color: rgb(246, 246, 246);
}
table.pricing td {
	padding: 2px 4px; border: 1px solid rgb(233, 233, 233); text-align: right;
}
table.pricing td.edition {
	border-width: 1px; border-style: solid; border-color: rgb(255, 255, 255) rgb(233, 233, 233) rgb(255, 255, 255) rgb(255, 255, 255); width: 115px !important; text-align: left; vertical-align: bottom;
}
table.pricing td.edition h3 {
	margin: 5px 0px -2px !important; color: rgb(102, 102, 153); font-size: 13px !important; font-weight: bolder;
}
table.pricing th.title {
	padding: 0px 5px 5px; width: 120px !important; text-align: left; color: rgb(51, 51, 51); line-height: 13px; font-size: 11px; font-weight: normal; vertical-align: top !important; border-top-color: rgb(255, 255, 255); border-left-color: rgb(255, 255, 255); border-top-width: 1px; border-left-width: 1px; border-top-style: solid; border-left-style: solid; background-color: rgb(255, 255, 255);
}
table.pricing th.title span.benefit {
	color: rgb(85, 85, 136); font-size: 11px; display: block;
}
table.pricing td.tabstrip {
	padding: 0px 0px 1px !important; border: 1px solid rgb(233, 233, 233); text-align: left; vertical-align: bottom; z-index: 1;
}
table.pricing td.tabstrip ul {
	margin: 0px; padding: 0px; width: 100%; z-index: 0;
}
table.pricing td.tabstrip ul li {
	margin: 0px -4px 0px 1px !important; padding: 0px; text-align: center; display: inline-block; -ms-zoom: 1;
}
table.pricing td.tabstrip ul li.active {
	background-color: rgb(246, 246, 246);
}
table.pricing td.tabstrip ul li.inactive {
	background-color: rgb(249, 249, 249);
}
table.pricing td.tabstrip ul li a {
	margin: 0px; padding: 5px 10px 2px; font-size: 11px !important; font-weight: bolder !important; display: inline-block;
}
table.pricing td.tabstrip ul li a.alpha {
	padding: 5px 45px 2px;
}
table.pricing td.tabstrip ul li span {
	margin: 0px; padding: 5px 10px 2px; color: rgb(85, 85, 85); font-size: 11px; font-weight: bolder; display: inline-block;
}
table.pricing td.tabstrip ul li span.alphaspan {
	padding: 5px 45px 2px;
}
table.pricing td.tabstrip ul li span.prerelease_price {
	margin: 0px 0px 0px 5px; padding: 0px; color: rgb(112, 137, 176); text-transform: lowercase; line-height: 10px; font-size: 10px; font-style: italic; font-variant: normal; display: inline;
}
table.pricing td.tabstrip ul li.active .prerelease_price {
	color: rgb(102, 136, 85) !important;
}
table.pricing td.tabstrip ul li.big a {
	width: 281px; border-right-color: rgb(233, 233, 233); border-right-width: 1px; border-right-style: solid;
}
table.pricing td.tabstrip ul li.big span {
	width: 281px; border-right-color: rgb(233, 233, 233); border-right-width: 1px; border-right-style: solid;
}
table.pricing th.bundle2 {
	padding: 2px; width: 85px; font-size: 11px;
}
table.pricing th.bundle3 {
	padding: 2px; width: 125px; font-size: 11px;
}
table.pricing th span.detail {
	width: 100%; font-size: 11px; font-weight: normal; display: block;
}
table.pricing th span.tech {
	width: 100%; font-size: 11px !important; display: block;
}
table.pricing th acronym.prerelease_discount {
	color: rgb(102, 136, 85); font-style: italic; font-weight: normal;
}
table.pricing td.license {
	text-align: center;
}
table.pricing td.license span.maintenance {
	display: block;
}
table.pricing tr.base td {
	border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
table.pricing tr.maintenance td {
	color: rgb(72, 72, 72); font-size: 11px; font-weight: bolder; vertical-align: middle; border-top-color: rgb(255, 255, 255) !important; border-bottom-color: rgb(240, 240, 240) !important; border-top-width: 1px !important; border-bottom-width: 1px !important; border-top-style: solid !important; border-bottom-style: solid !important;
}
table.pricing tr td a {
	font-weight: normal !important;
}
table.pricing tr.maintenance td a {
	font-weight: 700 !important;
}
table.pricing tr.maintenance th {
	vertical-align: middle;
}
table.pricing tr.maintenance td.license {
	vertical-align: top;
}
table.pricing td strike {
	margin: 0px; padding: 0px 5px; color: rgb(102, 102, 102); font-family: Verdana; font-size: 10px; font-style: italic; font-weight: normal;
}
table.pricing td span.special {
	padding: 0px 0px 0px 5px; color: rgb(255, 0, 0); line-height: 10px; font-size: 10px; font-style: italic; font-variant: normal;
}
p.license_note {
	margin: -5px 0px 0px !important; color: rgb(102, 85, 85); font-size: 11px;
}
p.license_hint {
	margin: 15px 0px 0px 5px !important; color: rgb(102, 85, 85); font-size: 12px; font-style: italic;
}
.payment_options {
	float: left;
}
.payment_options_icons {
	width: 250px; margin-left: 50px; float: right;
}
.payment_options_icons img {
	padding-bottom: 20px; display: block;
}
div.tabstrip {
	margin: 18px 0px 9px 4px; padding: 0px; border-bottom-color: rgb(233, 233, 233); border-bottom-width: 1px; border-bottom-style: solid;
}
p.tabstrip_legend {
	margin: 18px 0px -15px !important;
}
div.tabstrip ul {
	margin: 0px; padding: 0px !important;
}
div.tabstrip ul li {
	margin: 0px 0px -1px -4px; padding: 3px 9px; border: 1px solid rgb(233, 233, 233); display: inline-block; -ms-zoom: 1; background-color: rgb(252, 252, 252);
}
div.tabstrip ul li a {
	margin: 0px; padding: 0px; display: inline;
}
.tabstrip_active span {
	font-size: 12px; font-weight: bolder;
}
div.tabstrip ul li.tabstrip_inactive {
	border: 1px solid rgb(230, 230, 246); background-color: rgb(247, 247, 247);
}
div.faq_item {
	margin: 18px 0px 9px;
}
div.faq_item pre {
	margin-top: -2px; margin-right: 20px; margin-bottom: 10px;
}
div.faq_item p {
	margin: 0px;
}
#main div.faq_item p.toplink {
	margin: -6px 0px 36px;
}
div.q {
	margin: 0px 0px 6px; padding: 9px 6px 1px 9px; color: rgb(68, 68, 51); font-weight: bolder; background-color: rgb(244, 244, 244);
}
div.q code {
	color: rgb(85, 85, 68); font-size: 15px;
}
div.a {
	margin: 0px 9px 9px;
}
div.a blockquote {
	margin-bottom: 10px;
}
div.a blockquote {
	font-style: normal !important;
}
div#main table.code_members {
	margin: 9px 0px; padding: 0px; width: 100%; border-collapse: collapse;
}
div#main table.code_members td {
	margin: 0px; padding: 9px 3px 3px 0px; vertical-align: top;
}
div#main table.code_members th {
	border-width: 1px; border-style: solid; border-color: rgb(246, 246, 255) rgb(246, 246, 255) rgb(233, 233, 233); margin: 0px 0px 9px; padding: 4px 7px; text-align: left; font-size: 12px; vertical-align: bottom; background-color: rgb(249, 249, 249);
}
div#main table.code_members th h2 {
	margin: 0px; padding: 0px;
}
div#main table.code_members td.spacer {
	border: 0px currentColor; height: 10px;
}
div#main table.code_members td.icon_cell {
	width: 16px;
}
div#main table.code_members td.member_name_cell {
	width: 230px; padding-right: 9px; font-family: Consolas,Courier New,monospace; font-size: 13px;
}
div#main table.code_members td.member_name_cell ul.params {
	margin: 0px; padding-left: 9px;
}
div#main table.code_members td.member_name_cell ul.params li {
	margin: 0px 0px 0px 15px; padding: 0px; color: rgb(51, 51, 85); font-size: 12px;
}
div#main table.code_members td.member_description_cell p {
	margin: 0px 0px 6px;
}
#main table.code_members td.sound_sample a.sample {
	background: url("../images/sound.png") no-repeat 0px 0px !important; margin: 0px; padding: 2px 20px 9px 24px; display: block;
}
div#main table.code_members td.sound_sample a img {
	margin: 0px; padding: 0px; border: 0px currentColor; float: right;
}
div#main div.major_release {
	margin: -18px 6px 0px; padding: 0px 6px 0px 0px; width: 154px; vertical-align: top; display: inline-block !important; -ms-zoom: 1;
}
div#main div.major_release ul {
	margin-top: -4px;
}
div#main div.major_release ul a {
	font-size: 13px; position: relative;
}
div#main div.major_release ul span.list_date {
	left: 55px; top: 0px; width: 80px; color: rgb(80, 80, 96); line-height: 18px; font-family: Consolas,Courier New,monospace; font-size: 13px; font-weight: normal; word-spacing: -3px; position: absolute;
}
div#main div#php_major_releases ul span.list_date {
	left: 85px;
}
div#main span.date {
	padding: 3px 6px 2px; color: rgb(51, 51, 72); font-size: 11px; margin-left: 12px; background-color: rgb(247, 247, 247);
}
div#main span.migration {
	font-size: 12px; font-weight: normal; margin-left: 18px;
}
ul.release_notes {
	margin-top: -6px;
}
div#main img.screenshot {
	padding: 0px 0px 0px 35px; border: 0px currentColor; width: auto;
}
div#main img.help_screenshot {
	padding: 6px 6px 0px 9px; border: 0px currentColor; width: auto;
}
table.locales {
	margin: 12px 0px 9px; width: 560px; clear: both;
}
table.locales td {
	padding: 3px 0px 3px 6px; border: 1px solid rgb(240, 240, 240);
}
table.locales th {
	padding: 3px; border: 1px solid rgb(240, 240, 240); font-family: Verdana; font-size: 11px; vertical-align: middle; background-color: rgb(247, 247, 247);
}
table.locales th.locale {
	width: 70px !important;
}
table.locales th.language {
	width: 100px !important;
}
table.locales th.country {
	width: 90px !important;
}
table.locales th.charset {
	width: 75px !important;
}
table.locales th.downloads {
	width: 225px !important;
}
p.caption {
	text-align: center; font-size: 0.9em; font-style: italic;
}
p.caption a {
	font-size: 0.9em !important;
}
h2.section508 {
	background: url("../images/articles/access_board_section508.jpg") no-repeat 475px 0px; padding: 6px 90px 0px 0px; border-top-color: rgb(192, 192, 200); border-top-width: 1px; border-top-style: dashed; min-height: 40px;
}
h3.section508 {
	background: url("../images/articles/access_board.ico") no-repeat 0px 1px; padding: 0px 0px 0px 20px; min-height: 20px;
}
h4.section508 {
	margin: 6px 0px 0px !important;
}
h2.wcag2 {
	background: url("../images/articles/wcag.gif") no-repeat 520px 6px; padding: 6px 50px 0px 0px; border-top-color: rgb(192, 192, 200); border-top-width: 1px; border-top-style: dashed; min-height: 40px;
}
h3.wcag2 {
	background: url("../images/articles/wcag2aaa.png") no-repeat 0px 2px; padding: 0px 0px 0px 35px; min-height: 18px;
}
h4.wcag2 {
	background: url("../images/articles/w3c.gif") no-repeat 0px 1px; padding: 0px 0px 0px 27px; margin-top: 9px; min-height: 18px;
}
h5.wcag2 {
	margin-bottom: 6px !important;
}
ul.wcag {
	margin: 0px; padding-left: 0px; list-style-type: none !important;
}
ul.wcag2_toc {
	margin-top: -6px !important;
}
ul.wcag li {
	background: url("../images/articles/accessible.png") no-repeat 0px 1px; padding-left: 20px;
}
blockquote.standards {
	border-width: 1px 2px 2px 1px; border-style: solid; border-color: rgb(233, 233, 233); margin: 5px 0px 0px 5px; padding: 3px 6px; color: rgb(72, 72, 72); background-color: rgb(251, 251, 251);
}
table.wcag {
	margin: 12px auto; border: 1px solid rgb(240, 240, 240); width: 560px; line-height: 100%; font-size: 0.95em; border-collapse: separate;
}
table.wcag td {
	padding: 0px 6px 0px 0px;
}
table.wcag th {
	padding: 3px 6px 3px 3px; text-align: left; font-size: 0.9em; border-bottom-color: rgb(230, 230, 230); border-bottom-width: 1px; border-bottom-style: solid; background-color: rgb(252, 252, 252);
}
table.wcag tr.principle {
	font-size: 1em; font-weight: bolder;
}
table.wcag tr.principle td {
	padding: 12px 6px 0px 3px !important;
}
table.wcag tr.guideline {
	font-size: 0.9em; font-weight: bolder;
}
table.wcag tr.guideline td {
	padding: 6px 0px 3px !important;
}
table.wcag tr.criterion {
	font-size: 0.9em; font-weight: normal;
}
table.wcag tr.criterion td:nth-child(3) {
	text-indent: -29px; padding-left: 29px !important;
}
table.wcag tr.a {
	background-color: rgb(246, 255, 246);
}
table.wcag tr.aa {
	background-color: rgb(234, 255, 234);
}
table.wcag tr.aaa {
	background-color: rgb(224, 255, 224);
}
table.wcag a {
	color: rgb(68, 68, 68) !important; font-size: inherit !important; font-weight: inherit !important;
}
table.wcag_legend {
	margin: 12px auto; border: 1px solid rgb(240, 240, 240); width: 560px; line-height: 125%; font-size: 0.95em; border-collapse: separate;
}
table.wcag_legend td {
	padding: 3px 6px !important;
}
table.wcag_legend th {
	padding: 3px 6px; border-bottom-color: rgb(230, 230, 230); border-bottom-width: 1px; border-bottom-style: solid; background-color: rgb(252, 252, 252);
}
span.section {
	font-weight: bolder;
}
table.sound_regeneration {
	width: 560px; margin-top: 22px !important;
}
table.sound_regeneration td.null {
	border: currentColor !important; text-align: right; color: rgb(0, 0, 0); font-size: 12px;
}
table.sound_regeneration th {
	text-align: right; font-size: 0.8em !important; border-right-color: rgb(221, 221, 221) !important; border-bottom-color: rgb(221, 221, 221) !important; border-right-width: 1px !important; border-bottom-width: 1px !important; border-right-style: solid !important; border-bottom-style: solid !important;
}
table.sound_regeneration th.code {
	width: 120px; text-align: center; font-family: Consolas,Courier New,monospace; font-size: 1em !important;
}
table.sound_regeneration td {
	border: 1px solid rgb(221, 221, 221) !important; text-align: center; color: rgb(136, 136, 136);
}
table.sound_regeneration td.pro {
	background-color: rgb(240, 255, 240);
}
table.sound_regeneration td.con {
	background-color: rgb(255, 240, 240);
}
table.sound_regeneration td.ok {
	background-color: rgb(240, 246, 255);
}
h4 code {
	font-size: 1.2em;
}
.pro {
	font-size: 0.9em; font-weight: bolder;
}
.con {
	font-size: 0.9em; font-weight: bolder;
}
.ok {
	font-size: 0.9em; font-weight: bolder;
}
.pro {
	color: rgb(48, 128, 80);
}
.con {
	color: rgb(208, 80, 80);
}
.ok {
	color: rgb(80, 144, 176);
}
.command_printed {
	background: rgb(51, 51, 51); padding: 10px;
}
.command_printed code {
	color: rgb(255, 255, 255);
}
