html {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
body {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
div {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
span {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
applet {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
object {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
iframe {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
h1 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
h2 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
h3 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
h4 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
h5 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
h6 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
p {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
blockquote {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
pre {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
a {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
abbr {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
acronym {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
address {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
big {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
cite {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
code {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
del {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
dfn {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
em {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
font {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
img {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
ins {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
kbd {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
q {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
s {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
samp {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
small {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
strike {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
strong {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
sub {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
sup {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
tt {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
var {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
b {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
u {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
i {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
center {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
dl {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
dt {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
dd {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
ol {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
ul {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
li {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
fieldset {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
form {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
label {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
legend {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
table {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
caption {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
tbody {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
tfoot {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
thead {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
tr {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
th {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
td {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; font-size: 100%; vertical-align: baseline;
}
body {
	line-height: 15px;
}
ol {
	list-style: none;
}
ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
q {
	quotes: none;
}
:focus {
	outline: 0px;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
* {
	margin: 0px; padding: 0px;
}
html {
	margin: 10px; width: 100%; color: rgb(51, 51, 51); line-height: 14px; overflow: visible; font-family: Tahoma; font-size: 12px; background-color: rgb(255, 255, 255);
}
body {
	margin: 10px; width: 100%; color: rgb(51, 51, 51); line-height: 14px; overflow: visible; font-family: Tahoma; font-size: 12px; background-color: rgb(255, 255, 255);
}
div.container {
	margin: 0px auto; width: auto; overflow: visible; position: relative; background-color: rgb(255, 255, 255);
}
div.header {
	display: none;
}
div.content {
	overflow: visible !important; background-color: rgb(255, 255, 255);
}
div.content .column {
	overflow: visible; float: none; position: relative;
}
div.content div#main {
	margin: 0px 20px; padding: 7px 10px 95px; width: 90%; overflow: visible; background-color: rgb(255, 255, 255);
}
#left {
	display: none;
}
#right {
	display: none;
}
div.footer {
	margin: 0px 20px; padding: 5px 10px 5px 8px; width: 90%; height: 37px; bottom: 0px; color: rgb(153, 153, 153); clear: both; font-family: Tahoma; font-size: 12px; border-top-color: rgb(238, 240, 246); border-top-width: 2px; border-top-style: solid; position: absolute; background-color: rgb(255, 255, 255);
}
*:first-child + html div.footer {
	margin: 0px 20px; padding: 5px 10px 5px 8px; width: 90%; height: 37px; bottom: 0px; color: rgb(153, 153, 153); clear: both; font-family: Tahoma; font-size: 12px; border-top-color: rgb(238, 240, 246); border-top-width: 2px; border-top-style: solid; position: absolute; background-color: rgb(255, 255, 255);
}
div.footer div {
	
}
div.footer ul {
	
}
div.footer ul li {
	text-align: right; display: inline;
}
div.footer div.left {
	width: 242px; padding-top: 2px; float: none;
}
div.footer div.left span {
	left: 49px; top: 7px; position: absolute;
}
div.footer div.left img {
	
}
div.footer div.right {
	text-align: right; margin-right: 1px; float: none;
}
div.footer div.right ul {
	visibility: hidden;
}
p {
	margin: 0px; padding: 0px 0px 5px;
}
ul {
	padding-bottom: 5px; padding-left: 22px; margin-top: 15px; list-style-type: none;
}
* html ul {
	padding-left: 26px;
}
*:first-child + html ul {
	padding-left: 26px;
}
div.content ul {
	list-style-type: disc;
}
ul li {
	margin-bottom: 5px;
}
ol {
	padding-bottom: 5px; padding-left: 27px; list-style-type: decimal;
}
ol li ol {
	list-style-type: lower-latin;
}
ol li ol li ol {
	list-style-type: lower-roman;
}
* html ol {
	padding-left: 31px;
}
*:first-child + html ol {
	padding-left: 31px;
}
ol li {
	margin-bottom: 5px;
}
ol li ol.continued {
	margin-top: 5px; margin-bottom: -5px;
}
ol li ol li {
	margin-bottom: 0px;
}
ul.continued {
	margin-top: 0px; margin-bottom: -5px;
}
ol.continued {
	margin-top: 0px; margin-bottom: -5px;
}
ul li ul.links {
	margin-top: -3px; margin-bottom: -5px; list-style-type: square;
}
ul li ul li ul.links {
	margin-top: 2px; list-style-type: disc;
}
ul li ul li {
	margin-bottom: 0px;
}
ul.links {
	margin-top: 0px; margin-bottom: -5px;
}
ol.links {
	margin-top: 0px; margin-bottom: -5px;
}
ul.links li {
	margin: 0px 0px 2px; padding: 0px;
}
ol.links li {
	margin: 0px 0px 2px; padding: 0px;
}
ol.links li {
	color: rgb(119, 119, 119); font-weight: bolder;
}
ol.links li a {
	font-weight: normal;
}
ol.links li p {
	margin: 0px; padding: 0px; color: rgb(102, 102, 102); font-weight: normal;
}
ol.links li p.spacer {
	margin: 3px 160px -1px; padding: 0px; height: 1px; text-align: center; line-height: 1px;
}
ul.steps {
	margin-top: -2px; margin-bottom: -2px;
}
ol.steps {
	margin-top: -2px; margin-bottom: -2px;
}
.steps ul.steps {
	margin-top: -3px; margin-bottom: -5px;
}
.steps ol.steps {
	margin-top: -3px; margin-bottom: -5px;
}
ul.steps li {
	margin: 0px 0px 2px; padding: 0px;
}
ol.steps li {
	margin: 0px 0px 2px; padding: 0px;
}
h1 {
	margin: 5px 0px 10px; color: rgb(51, 51, 51); font-family: Verdana; font-size: 15px; font-weight: bolder;
}
h2 {
	margin: 7px 0px 5px; color: rgb(68, 68, 68); font-family: Verdana; font-size: 14px;
}
h3 {
	margin: 5px 0px 3px; color: rgb(68, 68, 85); font-family: Verdana; font-size: 12px;
}
h2.highlighted {
	
}
h3.highlighted {
	
}
h4 {
	color: rgb(51, 51, 51); font-family: Tahoma; font-size: 12px; font-style: italic; font-weight: normal; margin-top: 5px; margin-bottom: 3px;
}
a:link {
	color: rgb(48, 128, 224); text-decoration: none;
}
a:visited {
	color: rgb(100, 172, 255); text-decoration: none;
}
a:hover {
	color: rgb(100, 172, 255); text-decoration: underline;
}
div#main img {
	margin-bottom: 5px;
}
div#main span.note {
	color: rgb(255, 0, 0); font-style: italic;
}
div#main span.comment {
	color: rgb(102, 85, 85); font-size: 11px;
}
div#main p.note {
	margin-top: 5px; margin-bottom: 5px;
}
div#main p.comment {
	font-size: 11px; font-style: italic;
}
pre {
	margin: 5px 0px; padding: 5px 0px 10px 5px; width: 99%; color: rgb(85, 85, 85); line-height: 13px; font-size: 12px; background-color: rgb(246, 246, 246);
}
pre a {
	color: rgb(85, 85, 85) !important; text-decoration: underline;
}
span.code {
	color: rgb(85, 85, 85); line-height: 13px !important; font-family: Courier New; font-size: 13px; vertical-align: baseline !important;
}
a span.code {
	color: rgb(100, 172, 255); line-height: 13px; font-family: Courier New; font-size: 13px; vertical-align: baseline;
}
div#main blockquote {
	padding: 5px 10px; color: rgb(68, 68, 51); font-style: italic; background-color: rgb(249, 249, 246);
}
div#main blockquote.long {
	font-style: normal;
}
div#main blockquote h3 {
	color: rgb(85, 85, 102); font-family: Verdana; font-size: 12px;
}
div#left div.related ul {
	padding-left: 20px; font-size: 10px; list-style-type: square;
}
div#left div.related ul li {
	vertical-align: baseline;
}
*:first-child + html div#left div.related ul {
	padding-left: 24px;
}
div#main div#breadcrumbs {
	color: rgb(102, 102, 102); font-size: 11px; margin-top: -10px; margin-bottom: 10px;
}
div#main div#breadcrumbs span.active {
	color: rgb(68, 68, 102);
}
div#main p.linkheader {
	margin-bottom: -7px;
}
div#main p.toplink {
	margin: -3px 0px 0px; padding: 0px; text-align: right; line-height: 10px; clear: both !important; font-size: 11px;
}
div.q {
	color: rgb(102, 102, 119); margin-top: 0px; margin-right: 10px;
}
div.q span.code {
	color: rgb(102, 102, 119);
}
div.a {
	margin: -2px 10px 4px; color: rgb(51, 51, 51);
}
div.a blockquote {
	margin-bottom: 10px;
}
div.faq_item {
	width: 495px; padding-top: 4px; margin-top: 7px; margin-right: -23px; margin-bottom: 0px; border-top-color: rgb(221, 221, 221); border-top-width: 1px; border-top-style: dashed;
}
div.faq_item pre {
	margin-top: -2px; margin-right: 20px; margin-bottom: 10px;
}
div.faq_item p {
	margin: 0px 0px -2px;
}
div.faq_item p.toplink {
	margin: -8px 5px 0px 10px; text-align: right;
}
div.faq_item ol.steps {
	text-indent: 0px; margin-top: -3px; margin-bottom: -5px; margin-left: 0px;
}
div.faq_item ol.steps li pre {
	margin-bottom: 2px;
}
div#main ul.jobs {
	padding-left: 0px; margin-top: 7px; margin-bottom: -5px; vertical-align: top; list-style-type: none !important;
}
div#main ul.jobs li {
	margin: 0px;
}
.download_form {
	margin: 0px; padding: 0px; width: 475px;
}
.download_form tr td {
	margin: 0px; padding: 2px;
}
.label_div {
	margin: 0px; padding: 0px; width: 103px; text-align: right; font-size: 12px; vertical-align: top;
}
.label_cell {
	margin: 0px; padding: 0px; width: 98px; text-align: right; font-size: 12px; vertical-align: top;
}
.input_cell {
	margin: 0px; padding: 0px; width: 255px; text-align: left; vertical-align: middle;
}
.validator {
	color: red; padding-left: 4px; visibility: hidden;
}
.note_cell {
	width: 104px; text-align: left; vertical-align: top;
}
#captcha_cell {
	width: 364px;
}
fieldset {
	padding: 0px 10px 5px; border: 1px solid rgb(238, 238, 238); margin-top: 5px; margin-bottom: 5px;
}
select.inputbox {
	margin: 0px; padding: 0px; width: 245px; font-size: 12px;
}
html:first-child select.inputbox {
	margin: 0px; padding: 0px; width: 243px; font-size: 12px;
}
textarea.inputbox {
	margin: 2px 0px 0px; padding: 0px; width: 475px; overflow: scroll; -ms-overflow-x: hidden; -ms-overflow-y: scroll; wrap: logical;
}
.inputbox {
	margin: 0px; padding: 1px 0px 1px 3px; border: 1px solid rgb(221, 221, 221); color: rgb(0, 7, 13); font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 12px; background-color: rgb(252, 252, 249);
}
.error {
	background-color: rgb(255, 246, 246);
}
legend {
	color: rgb(153, 153, 153); line-height: 15px; padding-right: 5px; padding-left: 5px; font-size: 11px; vertical-align: top;
}
.download_form label {
	width: 120px;
}
.download_form input {
	width: 240px;
}
form {
	margin: -5px 0px 0px; padding: 0px 0px 5px;
}
div#main p.note {
	margin: 0px; color: rgb(102, 85, 85); line-height: 12px; font-size: 12px;
}
div .button_container {
	margin: -15px 0px 0px; padding: 0px; text-align: right; overflow: hidden; float: none;
}
div #download_button_container {
	width: 155px; height: 19px;
}
div #send_button_container {
	width: 55px; height: 19px;
}
input.button {
	padding: 0px 0px 4px; height: 18px; color: rgb(255, 255, 255); font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bolder; cursor: pointer; background-color: rgb(16, 50, 88);
}
input#download {
	width: 155px; height: 18px;
}
input#send {
	width: 55px; height: 18px;
}
#CaptchaDiv {
	margin: 0px; padding: 0px; width: 243px; height: 50px;
}
#CaptchaImage {
	margin: 0px; padding: 0px; width: 215px; height: 50px; float: none;
}
#CaptchaIcons {
	margin: 0px; padding: 0px; width: 23px; height: 50px; text-align: left; float: none;
}
#CaptchaIcons img {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
.placeholder {
	width: 0px !important; height: 0px !important; visibility: hidden;
}
div.deprecated {
	padding: 0px 15px 5px 5px; color: rgb(153, 153, 153); background-color: rgb(252, 252, 252);
}
div.deprecated span.code {
	color: rgb(153, 153, 170);
}
div.deprecated a {
	color: rgb(153, 187, 255);
}
div.deprecated pre {
	color: rgb(153, 153, 170);
}
div.deprecated h3 {
	color: rgb(153, 153, 153);
}
acronym {
	color: rgb(100, 172, 255); cursor: help;
}
table.pricing {
	border: currentColor; width: 100%; margin-top: 5px; margin-bottom: 5px; border-collapse: collapse; background-color: rgb(153, 153, 153);
}
table.pricing th {
	padding: 2px 4px; border: 1px solid rgb(221, 221, 221); text-align: center; color: rgb(85, 85, 85); font-size: 11px; font-weight: bolder; background-color: rgb(246, 246, 246);
}
table.pricing th.up {
	font-size: 10px;
}
table.pricing th.title {
	padding: 4px; border: 1px solid rgb(221, 221, 221); text-align: center; color: rgb(102, 102, 153); font-size: 12px; font-weight: bolder; vertical-align: top; background-color: rgb(255, 255, 255);
}
table.pricing th.title span.source {
	color: rgb(51, 102, 51); font-size: 11px;
}
table.pricing td {
	padding: 2px 4px; border: 1px solid rgb(221, 221, 221); text-align: right; background-color: rgb(255, 255, 255);
}
table.pricing td a {
	font-size: 11px; font-weight: bolder;
}
table.pricing td span.special {
	color: rgb(255, 0, 0); font-size: 11px; font-style: italic; font-weight: bolder;
}
table.pricing td span.special strike {
	padding: 0px 0px 0px 2px; color: rgb(102, 102, 102); font-family: Verdana; font-size: 11px; font-style: italic; font-weight: normal;
}
ul.references {
	margin-top: 5px; margin-bottom: 0px;
}
div#main blockquote.testimonial {
	margin: 5px 0px 10px; border: 1px solid rgb(238, 238, 238); padding-bottom: 5px; font-style: normal; background-color: rgb(246, 249, 252);
}
p.quotesource {
	margin: 2px 0px; padding: 0px 0px 0px 20px; text-align: left; font-style: italic;
}
div#main div.botdetectbox {
	width: 180px; float: left;
}
div#main img.botdetectbox {
	padding: 20px 10px 20px 60px;
}
div#main div.captcha_products {
	padding: 50px 0px; width: 260px; float: right;
}
div#main div.captcha_product {
	font-weight: bolder; margin-bottom: 15px;
}
div.spacer {
	clear: both;
}
h2.references {
	
}
div.references_text {
	width: 280px; float: none;
}
p.testimonials {
	
}
p.captcha_demo_link {
	padding: 5px 20px; border: 1px solid rgb(238, 238, 238); width: 290px; color: rgb(100, 172, 255); font-size: 12px; font-weight: bolder; background-color: rgb(252, 252, 246);
}
p.captcha_demo_link a:visited {
	color: rgb(100, 172, 255);
}
p.captcha_demo_link a:hover {
	color: rgb(100, 172, 255);
}
h3.name {
	font-family: Tahoma; font-size: 12px;
}
h3.name span.role {
	color: rgb(68, 68, 85); font-family: Verdana; font-size: 12px; font-weight: normal;
}
ul.sitemap {
	margin: 0px; padding: 0px 0px 0px 25px;
}
ul.sitemap li {
	margin: 0px; padding: 1px 0px;
}
ul.sitemap li a {
	
}
ul.sitemap li a:hover {
	color: rgb(100, 172, 255); text-decoration: underline;
}
ul.sitemap li span {
	margin: 0px; display: block;
}
ul.sitemap li ul.sitemap {
	margin: 0px;
}
div#main img.captcha_sample {
	
}
small {
	font-size: 0.85em;
}
.payment_options {
	float: left;
}
.payment_options_icons {
	width: 250px; margin-left: 50px; float: right;
}
.payment_options_icons img {
	padding-bottom: 20px; display: block;
}
div.captcha_images_left {
	width: 250px; float: none;
}
div.captcha_images_right {
	width: 250px; padding-top: 40px; float: none;
}
div#main span.member_name {
	line-height: 15px; padding-right: 10px; padding-left: 2px; font-family: Courier New; font-size: 13px; vertical-align: top;
}
div#main span.member_desc {
	padding-left: 30px; margin-top: -7px; margin-bottom: 5px; display: block;
}
div#main table.code_members {
	margin: 10px 0px; padding: 0px; border-collapse: collapse;
}
div#main table.code_members td {
	margin: 0px; padding: 3px 6px; border: 1px solid rgb(238, 238, 238); vertical-align: top;
}
div#main table.code_members th {
	border-width: 1px; border-style: solid; border-color: rgb(246, 246, 246) rgb(246, 246, 246) rgb(238, 238, 238); margin: 0px; padding: 4px 7px; text-align: left; vertical-align: bottom; background-color: rgb(249, 249, 249);
}
div#main table.code_members th h2 {
	margin: 0px; padding: 0px;
}
div#main table.code_members td.spacer {
	border: currentColor; height: 10px;
}
div#main table.code_members td.icon_cell {
	width: 30px;
}
div#main table.code_members td.member_name_cell {
	font-family: Courier New; font-size: 13px;
}
div#main table.code_members td.member_name_cell ul.params {
	margin: 0px; padding-left: 10px;
}
div#main table.code_members td.member_name_cell ul.params li {
	margin: 0px 0px 0px 15px; padding: 0px; color: rgb(51, 51, 85); font-size: 12px;
}
div#main table.code_members td.member_desctiption_cell {
	
}
div#main span.date {
	padding: 2px 4px; color: rgb(51, 51, 72); font-size: 11px; margin-left: 20px; background-color: rgb(249, 249, 249);
}
div#main span.migration {
	font-size: 12px; font-weight: normal; margin-left: 20px;
}
div#main h2.migration {
	padding-top: 5px; margin-top: 10px; border-top-color: rgb(221, 221, 221); border-top-width: 1px; border-top-style: dashed;
}
div#main h2.release {
	padding-top: 10px; clear: both; margin-top: 5px; border-top-color: rgb(221, 221, 221); border-top-width: 1px; border-top-style: dashed;
}
div#main h2.section {
	padding-top: 10px; clear: both; margin-top: 5px; border-top-color: rgb(221, 221, 221); border-top-width: 1px; border-top-style: dashed;
}
div#main td.input_cell {
	vertical-align: middle !important;
}
div#main td.input_cell span.selection {
	margin: 0px; padding: 0px 5px; height: 15px; text-align: left; line-height: 15px; vertical-align: top !important; display: inline !important;
}
div#main td.input_cell span.selection label {
	margin: 0px; padding: 0px 5px 0px 3px; line-height: 14px; vertical-align: top;
}
html:first-child div#main td.input_cell span.selection label {
	line-height: 16px;
}
div#main td.input_cell span.selection input {
	margin: 0px 0px -3px; padding: 0px; width: 15px; height: 15px;
}
html:first-child div#main td.input_cell span.selection input {
	margin-bottom: 2px;
}
div#main td.input_cell span.separator {
	vertical-align: top !important;
}
div.rbl {
	padding-top: 2px; padding-right: 39px; padding-bottom: 3px; display: inline;
}
div#main div.major_release {
	margin: 0px 5px; padding: 5px 10px; vertical-align: top; display: inline-block;
}
*:first-child + html div#main div.major_release {
	margin: 0px 5px; padding: 5px 10px; vertical-align: top; display: inline;
}
em {
	color: rgb(68, 68, 85); line-height: 13px; font-family: Verdana; font-size: 12px; font-style: italic;
}
div#main img.screenshot {
	padding: 0px 0px 0px 5px; border: currentColor; width: auto; clear: both; float: none;
}
div.helpers {
	display: none;
}
