body {
  padding:10px;
  background-color: #f5f5f5;
}
.container-fluid{
  background-color: #FFF;
  padding:10px;
  margin:0 auto; 
  max-width:900px;
  box-shadow:0 0 5px #999;
}
.nav-sidebar{
  background-color: #FFF;
}

.nav-sidebar > li > a {
  padding: 0px;
}
.nav-sidebar > .tag  {
  padding-top: 20px;
  color: #777;
  font-size:130%;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}

@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
  }
  .row-offcanvas-left .sidebar-offcanvas {
    left: -50%;
  }

  .row-offcanvas-left.active {
    left: 50%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%;
    margin-left: 10px;
  }
}
p{font-size:120%;}
.r {color:#7f0055;font-weight:bold;}
.q {color:#2a00ff;font-weight:bold;}
.c {color:#3f7f5f;font-weight:bold;}
a{COLOR:#003399;}