<web-app>
<servlet>
<servlet-name>First</servlet-name>
<servlet-class>SessionTrack</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>First</servlet-name>
<url-pattern>/Welcome</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>Second</servlet-name>
<servlet-class>ParameterServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Second</servlet-name>
<url-pattern>/TestPara</url-pattern>
</servlet-mapping>


</web-app>
