* {
	margin: 0px; padding: 0px;
}
body {
	text-align: justify; color: rgb(0, 0, 0); line-height: 1.5; font-family: "Segoe UI", Segoe, Calibri, "Ubuntu", Tahoma, Arial, Helvetica, Verdana, sans-serif; font-size: 14px; background-color: rgb(202, 251, 237);
}
#wrap-outer {
	margin: 20px; padding: 0px;
}
#wrap-inner {
	margin: 0px; padding: 25px 15px; border: 1px solid rgb(221, 221, 221); box-shadow: 5px 5px 0px #ddd; background-color: rgb(255, 255, 255);
}
#content-header {
	margin: 0px; padding: 50px 0px 10px;
}
#content-main {
	margin: 0px; padding: 30px 0px 20px;
}
#content-footer {
	margin: 30px 0px 0px; padding: 0px; text-align: right; color: rgb(192, 80, 77); font-family: "Century Gothic", "Segoe UI", Segoe, "Ubuntu", Verdana, Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; border-top-color: rgb(12, 155, 116); border-top-width: 4px; border-top-style: solid;
}
.header-footer {
	margin: 10px 0px 5px; padding: 5px 4px; text-align: right; color: rgb(192, 80, 77); font-family: "Century Gothic", "Segoe UI", Segoe, "Ubuntu", Verdana, Tahoma, Arial, Helvetica, sans-serif; font-size: 13px;
}
.header-footer a {
	color: rgb(192, 80, 77); text-decoration: underline;
}
.header-footer a:focus {
	color: rgb(11, 83, 149); text-decoration: none;
}
.header-footer a:hover {
	color: rgb(11, 83, 149); text-decoration: none;
}
h1 {
	margin: 0px; text-align: left; color: rgb(10, 132, 100); line-height: 1.2; letter-spacing: 1px; font-family: "Century Gothic", "Trebuchet MS", "Segoe UI", Segoe, "Ubuntu", Verdana, Tahoma, Arial, Helvetica, sans-serif;
}
h2 {
	margin: 0px; text-align: left; color: rgb(10, 132, 100); line-height: 1.2; letter-spacing: 1px; font-family: "Century Gothic", "Trebuchet MS", "Segoe UI", Segoe, "Ubuntu", Verdana, Tahoma, Arial, Helvetica, sans-serif;
}
h3 {
	margin: 0px; text-align: left; color: rgb(10, 132, 100); line-height: 1.2; letter-spacing: 1px; font-family: "Century Gothic", "Trebuchet MS", "Segoe UI", Segoe, "Ubuntu", Verdana, Tahoma, Arial, Helvetica, sans-serif;
}
h4 {
	margin: 0px; text-align: left; color: rgb(10, 132, 100); line-height: 1.2; letter-spacing: 1px; font-family: "Century Gothic", "Trebuchet MS", "Segoe UI", Segoe, "Ubuntu", Verdana, Tahoma, Arial, Helvetica, sans-serif;
}
h5 {
	margin: 0px; text-align: left; color: rgb(10, 132, 100); line-height: 1.2; letter-spacing: 1px; font-family: "Century Gothic", "Trebuchet MS", "Segoe UI", Segoe, "Ubuntu", Verdana, Tahoma, Arial, Helvetica, sans-serif;
}
h6 {
	margin: 0px; text-align: left; color: rgb(10, 132, 100); line-height: 1.2; letter-spacing: 1px; font-family: "Century Gothic", "Trebuchet MS", "Segoe UI", Segoe, "Ubuntu", Verdana, Tahoma, Arial, Helvetica, sans-serif;
}
h1 {
	padding: 0.2em 0px; font-size: 40px; font-weight: 400;
}
h2 {
	padding: 0.2em 0px; font-size: 36px; font-weight: 400;
}
h3 {
	padding: 1.5em 0px 0.3em; font-size: 22px; border-bottom-color: rgb(12, 155, 116); border-bottom-width: thin; border-bottom-style: solid;
}
h4 {
	padding: 1.3em 0px 0.2em; font-family: "Segoe UI", Segoe, "Ubuntu", Verdana, Tahoma, Arial, Helvetica, sans-serif; font-size: 18px; border-bottom-color: rgb(12, 155, 116); border-bottom-width: thin; border-bottom-style: dotted;
}
h5 {
	padding: 1.2em 0px 0px; color: rgb(68, 68, 68); letter-spacing: 1px; font-family: "Segoe UI", Segoe, "Ubuntu", Verdana, Tahoma, Arial, Helvetica, sans-serif; font-size: 15px;
}
h6 {
	padding: 1.2em 0px 0px; color: rgb(68, 68, 68); letter-spacing: 1px; font-family: "Segoe UI", Segoe, "Ubuntu", Verdana, Tahoma, Arial, Helvetica, sans-serif; font-size: 15px;
}
.line-heading {
	padding: 0.2em 0px; color: rgb(68, 68, 68); letter-spacing: 1px; font-size: 15px; font-weight: bold;
}
.line-heading-code-new {
	color: rgb(227, 27, 35); font-family: Consolas, "Lucida Console", "Courier New", Courier, monospace; font-size: 15px; font-weight: normal;
}
p {
	margin-top: 0.6em; margin-bottom: 0.4em;
}
pre {
	margin: 5px 0px 8px; padding: 5px 10px; border: 2px solid rgb(248, 248, 248); line-height: 135%; font-family: Consolas, "Lucida Console", "Courier New", Courier, monospace; font-size: 13px;
}
code {
	font-family: Consolas, "Lucida Console", "Courier New", Courier, monospace;
}
ul {
	margin: 0.3em 0px 0.2em 1.8em; padding: 0px; list-style-image: url("images/BulletSquare.png");
}
ul ul li {
	list-style-image: url("images/BulletRound.png");
}
ul ul u1 li {
	list-style-type: circle; list-style-image: none;
}
ol {
	margin: 0.3em 0px 0.2em 2.5em; padding: 0px; list-style-type: decimal;
}
ol ol li {
	list-style-type: lower-alpha;
}
ol ol o1 li {
	list-style-type: lower-roman;
}
li {
	margin: 0.4em 0px;
}
.float-left-ol-ul {
	overflow: hidden;
}
.float-left-li {
	left: 20px; margin-right: 20px; position: relative;
}
a {
	color: rgb(11, 83, 149); text-decoration: none;
}
a:hover {
	color: rgb(192, 80, 77); text-decoration: underline;
}
a:focus {
	color: rgb(192, 80, 77); text-decoration: underline;
}
a.references {
	margin: 4em 0px 0px; width: 30em; font-size: 18px; font-weight: bold; display: block;
}
p.references {
	margin: 4em 0px 0px; font-size: 18px; font-weight: bold;
}
.center-block {
	margin: 10px auto;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.underline {
	text-decoration: underline;
}
.font-code {
	font-family: Consolas, "Lucida Console", "Courier New", Courier, monospace;
}
.font-code-text {
	font-family: Consolas, "Lucida Console", "Courier New", Courier, monospace; font-size: 14px;
}
.font-code-smaller {
	font-family: Consolas, "Lucida Console", "Courier New", Courier, monospace; font-size: 13px;
}
.font-normal {
	font-family: "Segoe UI", Segoe, Calibri, "Ubuntu", Tahoma, Arial, Helvetica, Verdana, sans-serif;
}
.pre {
	white-space: pre;
}
.color-example {
	background-color: rgb(215, 236, 211);
}
.color-example-light {
	background-color: rgb(236, 246, 234);
}
.color-syntax {
	background-color: rgb(204, 238, 241);
}
.color-command {
	background-color: rgb(204, 238, 241);
}
.color-explanation {
	background-color: rgb(238, 238, 238);
}
.color-comment {
	color: rgb(0, 153, 0);
}
.color-new {
	color: rgb(227, 27, 35);
}
.color-error {
	color: rgb(255, 0, 153);
}
.color-plain {
	background-color: rgb(255, 255, 255);
}
.color-highlight {
	background-color: rgb(255, 255, 0);
}
.color-highlight-new {
	background-color: rgb(255, 255, 204);
}
.output {
	padding: 4px 8px; border: 2px solid rgb(248, 248, 248); background-color: rgb(236, 246, 234);
}
.side-note {
	padding: 3px 8px; margin-top: 15px; margin-left: 40px; background-color: rgb(231, 231, 231);
}
img.image-center {
	margin: 10px auto; display: block;
}
img.image-border {
	border: thin solid rgb(221, 221, 221);
}
img.image-float-left {
	margin: 8px 15px 15px 0px; border: thin solid rgb(221, 221, 221); float: left;
}
img.image-float-right {
	margin: 8px 0px 15px 15px; border: thin solid rgb(221, 221, 221); float: right;
}
.float-clear {
	clear: both;
}
table.table-zebra {
	margin: 0px auto; padding: 0px; border: 0px currentColor; width: 100%; text-align: left; vertical-align: top; border-collapse: collapse; background-color: rgb(231, 240, 248);
}
table.table-program {
	margin: 0px auto; padding: 0px; border: 0px currentColor; width: 100%; text-align: left; vertical-align: top; border-collapse: collapse; background-color: rgb(231, 240, 248);
}
table.table-zebra th {
	margin: 0px; padding: 4px 10px; border: 2px solid white; text-align: center; color: rgb(255, 255, 255); letter-spacing: 1px; font-size: 15px; background-color: rgb(0, 157, 217);
}
table.table-zebra td {
	margin: 0px; padding: 2px 8px; border: 2px solid white; vertical-align: top;
}
table.table-program th {
	margin: 0px; padding: 4px 10px; border: 2px solid white; text-align: center; color: rgb(255, 255, 255); letter-spacing: 1px; font-size: 15px; background-color: rgb(0, 157, 217);
}
table.table-program td {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
table.table-program td pre {
	margin: 0px; padding: 5px 10px; border: 2px solid rgb(248, 248, 248);
}
table.table-program td pre.text-right {
	text-align: right;
}
table .col-desc {
	background-color: rgb(231, 240, 248);
}
table .col-code {
	background-color: rgb(203, 223, 241);
}
table .tr-alt {
	background-color: rgb(203, 223, 241);
}
table .col-example {
	background-color: rgb(238, 238, 238);
}
table .col-line-number {
	width: 40px; background-color: rgb(225, 233, 207);
}
table .col-program {
	background-color: rgb(240, 244, 233);
}
#wrap-toc {
	background: 0px 0px rgb(231, 246, 239); margin: 0px 0px 0px 15px; padding: 5px 8px 10px; width: 230px; text-align: left; line-height: 1.5; float: right; display: block; white-space: nowrap; z-index: 100;
}
#wrap-toc h5 {
	margin: 0px; padding: 0.5em 0px; color: rgb(68, 68, 68); text-transform: uppercase; letter-spacing: 1px;
}
a#show-toc {
	color: rgb(192, 80, 77); letter-spacing: 1px; text-decoration: none;
}
#toc {
	overflow: auto;
}
#toc a.toc-H3 {
	font-size: 15px; margin-left: 0px;
}
#toc a.toc-H4 {
	font-size: 14px; margin-left: 20px;
}
#toc a.toc-H5 {
	font-size: 14px; margin-left: 40px;
}
